<header>
  <nav class="navbar navbar-expand-lg navbar-dark margin-nav nav-1">
    <div class="container-fluid ">
      <img class="logo" src="/img/logo_ts.svg" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center search-bar" id="navbarSupportedContent">
        <form class="d-flex col-lg-6 input-group-sm" role="search">
          <input class="form-control" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
          <button class="search fa-solid fa-magnifying-glass" type="submit" style="color: blue;"></button>
        </form>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg margin-nav nav-3 navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Guitarras & bajos</a></li>
              <li><a class="dropdown-item" href="#">Batería & precusión</a></li>
              <li><a class="dropdown-item" href="#">Teclados & sintetizadores</a></li>
              <li><a class="dropdown-item" href="#">Estudios de grabación & DJs</a></li>
              <li><a class="dropdown-item" href="#">Vientos</a></li>
              <li><a class="dropdown-item" href="#">Cuerdas</a></li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="#">Usados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nuevos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">¿Cómo funciona?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ayuda</a>
          </li>
        </ul>
      </div>
      <div class="items-container d-flex align-items-center">
        <div>
          <a href="" class="link-light">
            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            <span>Mi perfil</span>
          </a>
        </div>
        <div class>
          <a href="" class="link-light">
            <i class="fa-solid fa-heart" style="color: #ffffff;"></i>
            <span>Favoritos</span>
          </a>
        </div>
        <div>
          <a href="">
            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>