<header>
  <nav class="navbar navbar-expand-lg navbar-dark margin-nav nav-1">
    <div class="container-fluid ">
      <a href="/"><img class="logo" src="/img/logo_ts.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center search-bar" id="navbarSupportedContent">
        <form class="d-flex col-lg-6 input-group-sm" role="search">
          <input class="form-control" name="form-control" type="search" placeholder="¿Qué estás buscando?"
            aria-label="Search">
          <button class="search fa-solid fa-magnifying-glass" type="submit" style="color: blue;"></button>
        </form>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg margin-nav nav-3 navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse stroke" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Guitarras & bajos</a></li>
              <li><a class="dropdown-item" href="#">Batería & precusión</a></li>
              <li><a class="dropdown-item" href="#">Teclados & sintetizadores</a></li>
              <li><a class="dropdown-item" href="#">Estudios de grabación & DJs</a></li>
              <li><a class="dropdown-item" href="#">Vientos</a></li>
              <li><a class="dropdown-item" href="#">Cuerdas</a></li>
            </ul>
          </div>
          <div>
            <li class="nav-item">
              <a class="nav-link" href="/productos">Productos</a>
            </li>
          </div>
          <div>
            <li class="nav-item">
              <a class="nav-link" href="/crearProducto">Vender</a>
            </li>
          </div>
          <div>
            <li class="nav-item">
              <a class="nav-link" href="#">Promociones</a>
            </li>
          </div>
          <div>
            <li class="nav-item">
              <a class="nav-link" href="#">¿Cómo funciona?</a>
            </li>
          </div>
          <div>
            <li class="nav-item">
              <a class="nav-link" href="#">Ayuda</a>
            </li>
          </div>
        </ul>
        <ul class="navbar-nav">

          <li>
            <a href="/register" class="nav-link">Registro</a>
          </li>

          <div>
            <li class="nav-item">
              <a href="/login" class="nav-link register-login-link">Login</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="items-container d-flex align-items-center" style="padding-left:20px">
      <div>
        <a href="" class=" link-light icon-header">
          <i class="fa-solid fa-heart" style="color: #ffffff;"></i>
        </a>
      </div>
      <div>
        <a href="" class="link-light icon-header">
          <i class="fa-solid fa-user" style="color: #ffffff;"></i>
        </a>
      </div>
      <div>
        <a href="/carrito">
          <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
        </a>
      </div>
    </div>
  </nav>
</header>