<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./nmb/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/gaj1ybf.css">
    <link rel="stylesheet" href="css/productoStyles.css">
    <link rel="shortcut icon" href="img/icon_ts.svg" />
    <title>Tienda Sound</title>
  </head>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark margin-nav nav-1">
      <div class="container-fluid ">
        <img class="logo" src="img/logo_ts.svg" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
          <form class="d-flex col-lg-6 input-group-sm" role="search">
            <input class="form-control" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
            <button class="search fa-solid fa-magnifying-glass" type="submit" style="color: blue;"></button>
          </form>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg margin-nav nav-3 navbar-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categorías
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Guitarras & bajos</a></li>
                <li><a class="dropdown-item" href="#">Batería & precusión</a></li>
                <li><a class="dropdown-item" href="#">Teclados & sintetizadores</a></li>
                <li><a class="dropdown-item" href="#">Estudios de grabación & DJs</a></li>
                <li><a class="dropdown-item" href="#">Vientos</a></li>
                <li><a class="dropdown-item" href="#">Cuerdas</a></li>
              </ul>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="#">Usados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nuevos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Vender</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Promociones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">¿Cómo funciona?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ayuda</a>
            </li>
          </ul>
        </div>
        <div class="items-container d-flex align-items-center">
          <div>
            <a href="" class="link-light">
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
              <span>Mi perfil</span>
            </a>
          </div>
          <div class>
            <a href="" class="link-light">
              <i class="fa-solid fa-heart" style="color: #ffffff;"></i>
              <span>Favoritos</span>
            </a>
          </div>
          <div>
            <a href="">
              <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="division-general">
        <div class="seccion-izquierda">
          <div class="main-carousel">
              <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/img/producto/imagenGuitarraWebp.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item imag1">
                    <img src="/img/producto/imagenGuitarra1Webp.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/producto/imagenGuitarra2Webp.webp" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
          </div>
            <div class="descripcion-producto">
                <h2 class="Titulo">
                    Descripción del producto
                </h2>
                <p>
                  Disfrutá con esta guitarra G&L Tribute de la conexión con la música. Con este instrumento descubrirás nuevos acordes, entonarás tus canciones y disfrutarás de la vida musical. Explorá, amplificá tu creatividad y desarrollá tu pasión.
                </p>
                <ul>
                  <li>Fabricada en fresno/tilo con acabado brillante.</li>
                  <li>Con 6 cuerdas y 22 trastes de tamaño medium jumbo.</li>
                  <li>El largo de la escala es de 25.5".</li>
                  <li>El puente es tremolo.</li>
                  <li>Incluye tres micrófonos simples.</li>
                  <li>Controles de selector de micrófonos, tono y volumen.</li>
                  <li>Palanca incluida.</li>
                  <li>Sonidos fuertes y firmes  con un estilo propio.</li>
                  
                </ul>
                
            </div>
        </div>
        <div class="seccion-derecha">
          
            <div class="titular">
              <div class="encabezado-titular">
                <div class="ranking-mobile">
                  <div class="imagen-star">
                    <img class="img-star" src="/img/producto/estrellitaranking.svg" alt="">
                    <img class="img-star" src="/img/producto/estrellitaranking.svg" alt="">
                    <img class="img-star" src="/img/producto/estrellitaranking.svg" alt="">
                    <img class="img-star" src="/img/producto/estrellitaranking.svg" alt="">
                    <img class="img-star" src="/img/producto/estrellitaranking.svg" alt="">
                  </div>            
                </div>
                <div class="sec-der-titular">
                    <h3>Usado</h3>
                    <img class="img-heart" src="/img/producto/favorito_producto.svg" alt="">
                </div>   

              </div>
                             
              <h2>Guitarra eléctrica G&L</h2>
              <p>Tribute Legacy de fresno/tilo surf green brillante con diapasón de jatoba</p>
            </div>
            <div class="ranking">
              <img src="/img/producto/estrellitaranking.svg" alt="">
              <img src="/img/producto/estrellitaranking.svg" alt="">
              <img src="/img/producto/estrellitaranking.svg" alt="">
              <img src="/img/producto/estrellitaranking.svg" alt="">
              <img src="/img/producto/estrellitaranking.svg" alt="">
                        
            </div>

                          <div class="main-carousel2">
                            <div id="carouselExampleIndicators" class="carousel slide">
                              <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              </div>
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/img/producto/imagenGuitarraWebp.webp" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item imag1">
                                  <img src="/img/producto/imagenGuitarra1Webp.webp" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/img/producto/imagenGuitarra2Webp.webp" class="d-block w-100" alt="...">
                                </div>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                        </div>

                        <div class="descripcion-producto2">
                          <h2 class="Titulo">
                              Descripción del producto
                          </h2>
                          <p>
                            Disfrutá con esta guitarra G&L Tribute de la conexión con la música. Con este instrumento descubrirás nuevos acordes, entonarás tus canciones y disfrutarás de la vida musical. Explorá, amplificá tu creatividad y desarrollá tu pasión.
                          </p>
                          <ul>
                            <li>Fabricada en fresno/tilo con acabado brillante.</li>
                            <li>Con 6 cuerdas y 22 trastes de tamaño medium jumbo.</li>
                            <li>El largo de la escala es de 25.5".</li>
                            <li>El puente es tremolo.</li>
                            <li>Incluye tres micrófonos simples.</li>
                            <li>Controles de selector de micrófonos, tono y volumen.</li>
                            <li>Palanca incluida.</li>
                            <li>Sonidos fuertes y firmes  con un estilo propio.</li>
                            
                          </ul>
                          
                      </div>

          
            <div class="compra">
                <h2>$ 170.218</h2>
                <button class="button-comprarAhora">Comprar Ahora</button>
                <h3>Cantidad</h3>

              <!------------------------Aca pongo el boton cantidad con flechas laterales------------------------------------------------------>
              <div class="input-general">
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                  <input class="quantity" min="0" name="quantity" value="1" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
                <div> 
                  <p>Agregar al carrito</p>
                </div>
              </div> 
              

                <!----------------------Aca termino de poner el boton de cantidad----------------------------------------------------->
                <div class="llega-hoy">
                  <img src="/img/producto/envio.svg" alt="">
                  <h5>Llega HOY</h5>
                  <h6>Ver otras formas de envío</h6>
                </div>
                

            </div>
            <div class="formas-de-pago">
                <h5>Formas de Pago:</h5>
                <img class="form-pago-linea" src="/img/producto/linea_formasdepago.svg" alt="">
                <ul>
                    <li>EFECTIVO</li> 
                    <li>TRANSFERENCIA</li>
                    <li>TARJETAS</li>
                  
                </ul>
                <div class="formas-pago-iconos">
                  <img src="/img/producto/logo_mercadopago.svg" alt="">
                  <img src="/img/producto/logo_mastercard.svg" alt="">
                  <img src="/img/producto/logo_visa.svg" alt="">
                  <img src="/img/producto/logo_pagofacil.svg" alt="">
                </div>
                

            </div>
        </div>
           

    </div>
   
    <!----------------------SECCION RECOMENDACION - KIARA----------------------------------------------------->

    <!----------------------SECCION computadoras----------------------------------------------------->

    <section class="container seccion-recomendado col-12 carruselComp ">

      <h2 class="titulo-recomendado">También te puede interesar</h2>
  
      <div id="carouselExampleDestacados" class="carousel slide carousel-recomendado ">
  
        <div class="carousel-inner carousel-inner-recomendado">
  
          <div class="carousel-item active container carousel-item-recomendado ">
  
            <div class="row justify-content-start row-recomendado">
  
              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

            </div>
  
          </div>
  
          <div class="carousel-item  container carousel-item-recomendado">
  
            <div class="row justify-content-start row-recomendado">
  
              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
          <div class="carousel-item  container carousel-item-recomendado">
  
            <div class=" row justify-content-start row-recomendado">

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-2 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>
              
            </div>
  
          </div>
  
        </div>
  
        <button class="carousel-control-prev carousel-control-prev-recomendado" type="button"
          data-bs-target="#carouselExampleDestacados" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
  
        <button class="carousel-control-next carousel-control-next-recomendado " type="button"
          data-bs-target="#carouselExampleDestacados" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  
      </div>
  
    </section>

    <!----------------------SECCION tablet-celulares----------------------------------------------------->

    <section class="container seccion-recomendado col-12 carruselTabCel ">

      <h2 class="titulo-recomendado">También te puede interesar</h2>
  
      <div id="carouselExampleDestacados" class="carousel slide carousel-recomendado ">
  
        <div class="carousel-inner carousel-inner-recomendado">
  
          <div class="carousel-item active container carousel-item-recomendado ">
  
            <div class="row justify-content-start row-recomendado">
  
              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

            </div>
  
          </div>
  
          <div class="carousel-item  container carousel-item-recomendado">
  
            <div class="row justify-content-start row-recomendado">
  
              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

            </div>
  
          </div>
  
          <div class="carousel-item  container carousel-item-recomendado">
  
            <div class=" row justify-content-start row-recomendado">

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

              <div class=" col-3 contenedor-recomendado">
  
                <div class="producto ">
  
                  <div class="seccionImgProducto">
  
                    <div class="contenedorImgProducto ">
                      <img class="imgProducto " src="img/productos_destacados/guitara_1.webp" alt="img-">
                    </div>
  
                  </div>
  
                  <div class="informacionProducto">
  
                    <p class="descripcionProducto">Guitarra electrica fender standard stratocater</p>
                    <p class="precioProducto">$1770.218</p>
  
                  </div>
  
                </div>
  
              </div>

            </div>
  
          </div>
  
        </div>
  
        <button class="carousel-control-prev carousel-control-prev-recomendado" type="button"
          data-bs-target="#carouselExampleDestacados" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
  
        <button class="carousel-control-next carousel-control-next-recomendado " type="button"
          data-bs-target="#carouselExampleDestacados" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  
      </div>
  
    </section>

</main>
<footer class="footer-max-width">
    <div class="footer-max-width-div">
      <img src="img/footer/logo_footer.svg" alt="" class="footer-logo">
      <div class="footer-redes-sociales">
        <p class="footer-seguinos-en">Seguinos en</p>
        <a href="http://www.facebook.com" target="_blank"><img src="img/footer/facebook.svg" alt=""
            class="footer-logo-redes"></a>
        <a href="http://www.twitter.com" target="_blank"><img src="img/footer/twitter.svg" alt=""
            class="footer-logo-redes"></a>
        <a href="http://www.instagram.com" target="_blank"><img src="img/footer/instagram.svg" alt=""
            class="footer-logo-redes"></a>
        <a href="http://www.youtube.com" target="_blank"><img src="img/footer/youtube.svg" alt=""
            class="footer-logo-redes"></a>
      </div>
    </div>
    <ul class="footer-list-1">
      <li class="footer-rotulos">CATEGORÍAS</li>
      <li class="footer-items"><a href="#">Guitarras & bajos</a></li>
      <li class="footer-items"><a href="#">Batería & percusión</a></li>
      <li class="footer-items"><a href="#">Teclados & sintetizadores</a></li>
      <li class="footer-items"><a href="#">Estudios de grabación & DJs</a></li>
      <li class="footer-items"><a href="#">Vientos</a></li>
      <li class="footer-items"><a href="#">Cuerdas</a></li>
    </ul>
    <ul class="footer-list-2">
      <li class="footer-rotulos">CÓMO FUNCIONA</li>
      <li class="footer-items"><a href="#">Para comprar</a></li>
      <li class="footer-items"><a href="#">Para vender</a></li>
    </ul>
    <ul class="footer-list-3">
      <li class="footer-rotulos">AYUDA</li>
      <li class="footer-items"><a href="#">Preguntas frecuentes</a></li>
      <li class="footer-items"><a href="#">Envíos</a></li>
      <li class="footer-items"><a href="#">Contacto</a></li>
    </ul>
    <ul class="footer-list-4">
      <li class="footer-rotulos">SUSCRIBITE</li>
      <li class="footer-items">Recibí las últimas novedades</li>

      <form class="footer-barra">
        <input class="form-control form-control-footer" type="text" placeholder="Tu correo electrónico">
        <button class="footer-submit" type="submit"><img src="img/footer/boton_suscribirsemail.svg" alt=""></button>
      </form>

      <div class="footer-he-leido">
        <input class="form-check-input" type="checkbox" value=""> He leído y aceptado los términos y condiciones
      </div>
    </ul>
  </footer>

  <footer class="footer-between-mobile-and-max">
    <div class="footer-div-between-mobile-and-max">
      <button class="accordion footer-accordion-between-mobile-and-max">CATEGORÍAS</button>
      <div class="panel footer-panel-between-mobile-and-max">
        <p>
        <ul class="footer-list-1-between-mobile-and-max">
          <li class="footer-items-between-mobile-and-max"><a href="#">Guitarras & bajos</a></li>
          <li class="footer-items-between-mobile-and-max"><a href="#">Batería & percusión</a></li>
          <li class="footer-items-between-mobile-and-max"><a href="#">Teclados & sintetizadores</a></li>
          <li class="footer-items-between-mobile-and-max"><a href="#">Estudios de grabación & DJs</a></li>
          <li class="footer-items-between-mobile-and-max"><a href="#">Vientos</a></li>
          <li class="footer-items-between-mobile-and-max"><a href="#">Cuerdas</a></li>
        </ul>
        </p>
      </div>

      <button class="accordion footer-accordion-between-mobile-and-max">CÓMO FUNCIONA</button>
      <div class="panel footer-panel-between-mobile-and-max">
        <p>
        <ul class="footer-list-1-between-mobile-and-max">
          <li class="footer-items-between-mobile-and-max"><a href="#">Para comprar</a></li>
          <li class="footer-items-between-mobile-and-max"><a href="#">Para vender</a></li>
        </ul>
        </p>
      </div>

      <button class="accordion footer-accordion-between-mobile-and-max">AYUDA</button>
      <div class="panel footer-panel-between-mobile-and-max">
        <p>
        <ul class="footer-list-1-between-mobile-and-max">
          <li class="footer-items-between-mobile-and-max"><a href="#">Preguntas frecuentes</a></li>
          <li class="footer-items-between-mobile-and-max"><a href="#">Envío</a></li>
          <li class="footer-items-between-mobile-and-max"><a href="#">Contacto</a></li>
        </ul>
        </p>
      </div>

      <button class="accordion footer-accordion-between-mobile-and-max">SUSCRIBITE</button>
      <div class="panel footer-panel-between-mobile-and-max">
        <p>
        <ul class="footer-list-1-between-mobile-and-max">
          <li class="footer-items-between-mobile-and-max">Recibí las últimas novedades</li>
          <form class="footer-barra-between-mobile-and-max">
            <input class="form-control form-control-footer-between-mobile-and-max" type="text"
              placeholder="Tu correo electrónico">
            <button class="footer-submit-between-mobile-and-max" type="submit"><img
                src="img/footer/boton_suscribirsemail.svg" alt=""></button>
          </form>
          <div class="footer-he-leido-between-mobile-and-max">
            <input class="form-check-input-between-mobile-and-max" type="checkbox" value=""> He leído y aceptado los
            términos y condiciones
        </ul>
        </p>
      </div>

    </div>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;
      for (i = 0; i < acc.length; i++)
      {
        acc[i].addEventListener("click", function ()
        {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block")
          {
            panel.style.display = "none";
          } else
          {
            panel.style.display = "block";
          }
        });
      }
    </script>

    <div class="footer-max-width-div-between-mobile-and-max">
      <img src="img/footer/logo_footer.svg" alt="" class="footer-logo-between-mobile-and-max">
      <div class="footer-redes-sociales-between-mobile-and-max">
        <p class="footer-seguinos-en-between-mobile-and-max">Seguinos en</p>
        <a href="http://www.facebook.com" target="_blank"><img src="img/footer/facebook.svg" alt=""
            class="footer-logo-redes-between-mobile-and-max"></a>
        <a href="http://www.twitter.com" target="_blank"><img src="img/footer/twitter.svg" alt=""
            class="footer-logo-redes-between-mobile-and-max"></a>
        <a href="http://www.instagram.com" target="_blank"><img src="img/footer/instagram.svg" alt=""
            class="footer-logo-redes-between-mobile-and-max"></a>
        <a href="http://www.youtube.com" target="_blank"><img src="img/footer/youtube.svg" alt=""
            class="footer-logo-redes-between-mobile-and-max"></a>
      </div>
    </div>

  </footer>

  <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>