*{font-family: "hoss-round", sans-serif;}

a { text-decoration: none;}


/* Acá comienza el CARRITO - JUAN */


main {
    margin: auto;
}

.tit_carrito {
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cant {
    margin-left: 15px;
}

.carrito_page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 130px;   
}

.compras {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.compra1{
    width: 62vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: baseline;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 25px;
}

.border {
    width: 100%;
    border-bottom: black 1px solid;
    margin-top: 10px;
    margin: auto;
}

.foto_p {
    width: 162px;
    border: 1px solid #00c7ff;
    border-radius: 100px;
}

.tit_prod {
    font-size: 1.3rem;
    max-width: 250px;
}

/* .des_pr {
    width: 250px;
} */

.cantidad {
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}

.cantidad img {
    width: 25px;
}

.cuantos {
    width: 35px;
    height: 25px;
    border: #3333ff 1px solid;
    border-radius: 8px;
    margin: auto;
    margin-left: 2px;
    margin-right: 2px;
}

.cantidad img:hover {
    opacity: 0.75;
}

.prpr {
    font-size: 2rem;
    font-weight: 700;
    color: var(--bs-body-color);
    text-align: center;
    width: 180px;
}

.btn-eliminar {
    color: white;
    border:0;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: 500ms;
    background-color: #E93882;
}

.envio_img {
    width: 100px;
}

.envio_compra {
    width: 62vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.envio_img {
    width: 90px;
}

.precio_envio {
    font-size: 21px;
    font-weight: 500;
    color: #3333ff;
}

.total_compra {
    width: 62vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 39px;
    font-weight: 700;
}

.botones_compra {
    width: 62vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5px;
}

.botones_compra button{
    border-radius: 15px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin-right: 5px;
    transition: 500ms;
}

#seguircomprando {
    background-color: #3333ff;
    color: white;
}

#seguircomprando:hover {
    background-color: #6666ff83;
    color: white;
}

#continuar {
    background-color: #E93882 ;
    color: white;
    border-radius: 15px;
}

#continuar:hover {
    background-color: #eaa5c2 ;
    color: white;
}

#borrarTodo {
    border: solid 1px #3333ff;
    color: #3333ff;
    border-radius: 15px;
    background-color: white;
}

#borrarTodo:hover {
    background-color: #3333ff;
    color: white;
}



/* Acá termina el CARRITO - JUAN */


/* Acá empieza CARRITO media querries */

/* mobile */
@media only screen and (max-width: 480px) {

    .compra1, .compra2 {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    /* .prod {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    .tit_prod {
        text-align: center;
    }
    .des_pr {
        width: 350px;
        text-align: center;
    }
    .cantidad {
        width: 150px;
        margin-top: 30px;
    }
    .cantidad img {
        width: 30px;
    }
    .cuantos {
        width: 35px;
        height: 30px;
    }
    .precio_pr {
        width: 400px;
        font-size: 2.1rem;
        text-align: center;
    }
    .envio_img {
        width: 75px;
    }
    .precio_envio {
        font-size: 17px;
    }
    .total_compra {
        width: 400;
        font-size: 20px;
    }
    .botones_compra {
        width: 400px;
        justify-content: center;
        margin-top: 20px;
    }

}

#cantidadCarrito{
    color: #ABEDFF;
    display: inline;
    margin-left: 5px;
    font-weight: bold;
}

/* tablet */
@media only screen and (max-width: 768px) and (min-width: 481px) {

    .compra1, .compra2 {
        /* width: 450px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .tit_prod {
        text-align: center;
    }
    .des_pr {
        width: 350px;
        text-align: center;
    }

    .cantidad {
        width: 150px;
        margin-top: 30px;
    }

    .cantidad img {
        width: 30px;
    }
    .cuantos {
        width: 35px;
        height: 30px;
    }
    .precio_pr {
        width: 400px;
        font-size: 2.1rem;
        text-align: center;
    }
    .envio_img {
        width: 75px;
    }
    .precio_envio {
        font-size: 17px;
    }
    .total_compra {
        width: 400;
        font-size: 20px;
    }
    .botones_compra {
        width: 400px;
        justify-content: center;
        margin-top: 20px;

    }
}

/* desktop */
@media only screen and (max-width: 1279px) and (min-width: 769px) {

    .cantidad img {
        width: 25px;
    }
    .cuantos {
        width: 4vw;
        height: 3vh;
        border: #3333ff 1px solid;
        border-radius: 8px;
        margin: auto;
        margin-left: 2px;
        margin-right: 2px;
    }
}

/* Acá termina CARRITO media querries */
