* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "hoss-round", sans-serif;
}

.main-login {
    position: relative;
}

.main-login input {
    padding: 0px 10px 0px 10px;
}

.main-login textarea {
    padding: 10px 10px 0 10px;
}

.form-container {
    padding: 65px 0px 150px 0px;
}

.form-container h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}

.iniciaSesion {
    padding-bottom: 40px;
}

.form-container h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    padding-bottom: 30px;
}

.texto-resaltado {
    color: #3333ff;
    font-weight: bold;
}

.form-container .base-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left !important;

    .nombreProducto {
        text-align: left !important;
    }
}

.base-form input[type=text],
.base-form input[type=email],
.base-form input[type=password],
.base-form input[type=number],
.base-form input[type=file],
.crearProducto-form select {
    width: 80%;
    height: 60px;
    border-radius: 15px;
    border: 1px #3333ff solid;
    margin-bottom: 25px;
}

.base-form textarea {
    width: 80%;
    border-radius: 15px;
    border: 1px #3333ff solid;
    margin-bottom: 25px;
}

.base-form input::placeholder {
    padding-left: 20px;
    color: #B7B7B7;
}

.base-form textarea::placeholder {
    padding: 10px 0px 0px 20px;
    color: #B7B7B7;
}

.base-form .pregunta-login {
    font-weight: 400;
    font-size: 1.1rem;
    color: #3333ff;
}


.base-form .form-btn {
    width: 80%;
    height: 60px;
    border-radius: 15px;
    border: 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top:20px;
}

.base-form .inicio-btn {
    background-color: #3333ff;
    color: white;
}


.base-form .google-btn {
    border: 1px solid #3333ff;
    background-color: white;
    color: #3333ff;
    position: relative;
}


.base-form .facebook-btn {
    background-color: #3333ff;
    color: white;
    position: relative;
}

.base-form .google-btn img,
.base-form .facebook-btn img {
    width: 35px;
    height: auto;
    position: absolute;
    left: 10px;
}

.btn-division {
    width: 80%;
    border: 1px solid gray;
    margin: 20px 0px 20px 0px;
}


/*Register form*/

.form-register h1 {
    padding-bottom: 40px;
}

.terminos-condiciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.terminos-condiciones span {
    font-style: italic;
    margin-left: 10px;
}

.terminos-condiciones input[type=checkbox] {
    border: 1px solid #3333ff;
    width: 20px;
    height: 20px;
}
.recordar-usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.recordar-usuario  span {
    font-style: italic;
    margin-left: 10px;
}

.recordar-usuario input[type=checkbox] {
    border: 1px solid #3333ff;
    width: 20px;
    height: 20px;
}
.text-danger {
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;
}

/*Producto form*/

.dos-col {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 25px;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.crearProducto-form .dos-col .form-btn:first-child {
    background-color: #6666ff83;
    margin-right: 20px;
}

.crearProducto-form name {
    display: inline-block;
    width: 80%;
    text-align: left;
    margin-bottom: 10px;
}

.crearProducto-form .dos-col name {
    width: 15%;
}

.crearProducto-form input[type=radio] {
    margin-right: 10px;
}

.crearProducto-form select,
.crearProducto-form input[type=file] {
    padding-left: 20px;
}

.crearProducto-form input[type=file] {
    padding-top: 12px;
}

/* |||||||| MEDIA QUERIES |||||||| */


/* Smartphones */

@media only screen and (max-width: 480px) {

    .form-container h1 {
        font-size: 2rem;
    }

    .form-container h2 {
        font-size: 2rem;
        padding: 0px 20px 30px 20px;
    }

    .base-form input,
    .base-form .form-btn {
        width: 80%;
        font-size: 1rem;
    }

    .form-container {
        padding: 00px 0px 0px 0px;
    }

    .flecha-volver {
        left: 2%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 10px;
    }

    .flecha-volver img {
        width: 25px;
        height: 25px;
    }

    .terminos-condiciones span {
        font-size: 12px;
    }

    .flecha-volver-register {
        top: 20px;
    }

    .producto-volver-flecha-volver {
        padding-top: 5px !important;
        padding-left: 5px !important;
    }
}


/* Tablet */

@media only screen and (max-width: 768px) and (min-width: 481px) {

    .flecha-volver {
        left: 10%;
    }
}
