/* -----------------------------------E M P I E Z A      M A I N -----------------------------------------------------*/

main {

    font-family: hoss-round, sans-serif;
}

.foto-detalle {
    max-width: 100%;
}

.division-general {
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
}

.main-carousel2 {
    display: none;
}

.descripcion-producto2 {
    display: none;
}

.seccion-izquierda {
    width: 55vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carousel-inner {
    border-radius: 25px;
    width: 400px;
    height: 550px;
    display: flex;
}

.carousel-inner img {
    border-radius: 25px;
    width: 250px !important;
    height: 500px;
    margin-left: 20%;
}

.carousel-indicators button {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    background-color: #3333FF !important;
}



.carousel-indicators button.active {
    background-color: #00c7ff !important;
}

.carousel-control-next {

    width: 6vw;
    padding-left: 1vh;
}

.carousel-control-prev {

    width: 6vw;

}

.carousel-control-next-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-final-main {
    margin-left: 5vw;
}

.descripcion-producto {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 40vw;
    font-size: 14px;
    font-weight: 300;
}

.descripcion-producto h2 {
    margin: 5vh 0;
    font-size: 24px;

}

.seccion-derecha {
    width: 45vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 50px 0px 50px 80px;
}

.sec-der-titular {

    flex-wrap: nowrap;
    display: flex;
}

.seccion-derecha .titular .sec-der-titular h3 {

    color: #3333FF;
    font-weight: bold;
    width: 100px;
    display: inline-block;
    font-size: 20px;
}

.sec-der-titular img {
    width: 25px;
    margin-left: 100px;
    position: relative;
    bottom: 1vh;
}

.seccion-derecha .titular h2 {
    font-weight: 600;
    font-size: 30px;
    width: 24vw;
}

.ranking-mobile {
    display: none;
}

.seccion-derecha .titular p {
    font-weight: 400;
    font-size: 16px;
    width: 24vw;
}

.ranking {
    width: 25px;
    display: flex;
    margin-top: 20px;
}

.ranking img {
    margin-right: 0.5vw;
}

.compra {
    margin-top: 30px;
}

/*---------------boton compra*/

.input-general {
    background-color: #ABEDFF;
    border-radius: 10px;
    width: 148px;
    height: 80px;
    margin-bottom: 6vh;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #3333FF;
    display: inline-flex;
    border-radius: 10px;
    margin-bottom: 6vh;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    border-radius: 6px;
    background-color: #3333FF;
    color: aliceblue;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%);
}


.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: hoss-round;
    max-width: 5rem;
    padding: .5rem;
    border: solid white;
    border-width: 0 2px;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
}

.input-general p {
    font-weight: 600;
    text-align: center;
    color: #3333FF;
    position: relative;
    bottom: 4.5vh;
}

.div-but-cant {
    display: flex;
    flex-direction: column;
    width: 11vw;
    margin-bottom: 8vh;
}

.button-comprarAhora {
    background-color: #3333FF;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 5px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 148px;
}

.button-cantidad input {
    width: 6vw;
}

.button-cantidad {
    width: 20vh;
}

.button-agregarCarrito {
    background-color: #ABEDFF;
    border: solid 1px white;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #3333FF;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 20vh;
}

.compra h2 {
    font-weight: 500;
    font-size: 45px;
}

.compra h3 {
    font-size: 20px;
}

.llega-hoy {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.llega-hoy img {
    width: 40px;
    display: flex;
}
.llega-hoy .hoy {
    font-size: 17px;
    font-weight: 400;
    color: #3333FF;
    display: flex;
}
.llega-hoy .hoy img{
    margin-right: 10px;
    margin-bottom: 10px;
}

.llega-hoy p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: flex;
}

.formas-de-pago h5 {
    font-size: 16px;
    margin-top: 50px;
}

.formas-de-pago h5 {
    font-size: 14px;
    font-weight: 400;
}

.formas-de-pago {
    width: 250px;
}

.formas-de-pago .fp {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
    list-style: none;
}

.fp {
    border-top: #0a0a0a 1px solid;
}

.fp li {
    margin-top: 10px;
}

.formas-pago-iconos img {
    margin-top: 20px;
}

.producto-detail-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 40px;
}

.btn-editar,
.btn-eliminar {
    color: white;
    border:0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: 500ms;
}

.btn-editar {
    background-color: #3333FF;
}

.btn-eliminar {
    background-color: #E93882;
}

.btn-editar:hover {
    background-color: #8c8cf9;
}

.btn-eliminar:hover {
    background-color: #eb8eb5;
}



@media (min-width: 0px) and (max-width: 480px) {
    .ranking {
        display: none;
    }

    .foto-detalle {
        width: 320px;
    }

    .division-general {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        display: flex;
        margin: auto;
    }

    .descripcion-producto h2 {
        margin: auto;
        text-align: center;
    }

    .descripcion-producto {
        width: 280px;
        font-size: 14px;
        font-weight: 300;
    }

    .descripcion-producto p {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .seccion-izquierda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: #00c7ff 1px solid;
        max-width: 420px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .seccion-derecha {
        width: 480;
        margin-top: 5vh;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0px
    }

    .seccion-derecha .titular {
        display: flex;
        flex-wrap: wrap;
        flex-direction: wrap;
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }

    .encabezado-titular {
        display: flex;
        justify-content: space-between;
        width: 250px;
        text-align: center;
        margin-top: 40px;
    }

    .ranking-mobile {
        display: flex;
        width: 70px;
        justify-content: center;
    }

    .imagen-star {
        display: flex;
        justify-content: flex-end;
        width: 90px;
        margin-right: 0px;
        margin-left: 0px
    }

    .img-star {
        width: 12px;
        margin-right: 5px;
        margin-bottom: 8px;
    }

    .sec-der-titular {
        display: flex;
        justify-content: center;
    }

    .sec-der-titular h3 {
        color: #3333FF;
        font: weight 600px;
        display: block;
        text-align: right;
        font-size: 16px !important;
        margin-right: 5px;
        padding: 0;
        justify-content: flex-end;
    }

    .sec-der-titular .img-heart {
        width: 14px;
        margin-left: 0px;
        padding: 0;
        margin-bottom: 7px;

    }

    .seccion-derecha .titular h2 {
        font-weight: 600;
        font-size: 35px;
        max-width: 400px;
        width: 300px;
        display: inline;
        position: relative;
        text-align: center;
        margin-top: 5vw;
    }

    .seccion-derecha .titular p {
        text-align: center;
        font-size: 16px;
        width: 280px;
        margin-top: 10px;
    }

    .main-carousel2 {
        display: flex;
    }

    .carousel-inner {
        border-radius: 25px;
        width: 200px;
        height: 300px;
        display: flex;
    }

    .carousel-control-next,
    .carousel-control-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .carousel-control-next-icon {

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-inner img {
        border-radius: 25px;
        width: 120px !important;
        height: auto;
        margin-left: 20%;
    }

    .compra {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .compra h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .number-input button {

        outline: none;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin: 0;
        position: relative;
        border-radius: 6px;
        background-color: #3333FF;
        color: aliceblue;
    }

    .llega-hoy {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .llega-hoy img {
        width: 40px;
        display: flex;
    }
    .llega-hoy .hoy {
        font-size: 16px;
        font-weight: 400;
        color: #3333FF;
        display: flex;
    }
    .llega-hoy p {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        display: flex;
    }



    .formas-de-pago {
        width: 50vw;
    }

    .formas-de-pago h5 {
        font-size: 16px;
    }

    .formas-de-pago {
        width: 250px;
    }

    .formas-de-pago h5 {
        text-align: center;
        margin-top: 20px;
    }

    .formas-de-pago ul {
        border: solid 1px blue;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        margin-left: -20px;
    }

    .formas-de-pago ul li {
        margin: 0;
        list-style: none;
        margin-right: 10px;
    }

    .formas-pago-iconos img {
        margin-top: 20px;
    }

    .producto-detail-btn {
        max-width: 400px;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* background todo el producto */
    .todo {
        border: #00c7ff 1px solid;
        border-radius: 15px;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .ranking {
        display: none;
    }

    .division-general {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        display: flex;
        margin: auto;
    }

    .foto-detalle {
        display: flex;
        width: 100%;
        border-radius: 15px
    }

    .descripcion-producto h2 {
        margin: auto;
        text-align: center;
    }

    .descripcion-producto {
        width: 420px;
        font-size: 14px;
        font-weight: 300;
    }

    .descripcion-producto p {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .seccion-izquierda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: #00c7ff 1px solid;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .seccion-derecha {
        width: 480;
        margin-top: 5vh;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0px
    }

    .seccion-derecha .titular {
        display: flex;
        flex-wrap: wrap;
        flex-direction: wrap;
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }

    .encabezado-titular {
        display: flex;
        justify-content: space-between;
        width: 250px;
        text-align: center;
        margin-top: 20px;
        margin-top: 40px
    }

    .ranking-mobile {
        display: flex;
        width: 70px;
        justify-content: center;
    }

    .imagen-star {
        display: flex;
        justify-content: flex-end;
        width: 90px;
        margin-right: 0px;
        margin-left: 0px
    }

    .img-star {
        width: 12px;
        margin-right: 5px;
        margin-bottom: 8px;
    }

    .sec-der-titular {
        display: flex;
        justify-content: center;
    }

    .sec-der-titular h3 {

        color: #3333FF;
        font: weight 600px;
        display: block;
        text-align: right;
        font-size: 16px !important;
        margin-right: 5px;
        padding: 0;
        justify-content: flex-end;
    }

    .sec-der-titular .img-heart {
        width: 14px;
        margin-left: 0px;
        padding: 0;
        margin-bottom: 7px;

    }

    .seccion-derecha .titular h2 {
        font-weight: 600;
        font-size: 35px;
        max-width: 100vw;
        width: 98vw;
        display: inline;
        position: relative;
        text-align: center;
        margin-top: 5vw;
    }

    .seccion-derecha .titular p {
        text-align: center;
        font-size: 16px;
        width: 400px;
        margin-top: 10px;
    }

    .main-carousel2 {
        display: flex;
    }

    .carousel-inner {
        border-radius: 25px;
        width: 200px;
        height: 300px;
        display: flex;
    }

    .carousel-control-next,
    .carousel-control-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .carousel-control-next-icon {

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-inner img {
        border-radius: 25px;
        width: 120px !important;
        height: auto;
        margin-left: 20%;
    }

    .compra {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .compra h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .number-input button {

        outline: none;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin: 0;
        position: relative;
        border-radius: 6px;
        background-color: #3333FF;
        color: aliceblue;
    }

    .llega-hoy {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .llega-hoy img {
        width: 40px;
        display: flex;
    }
    .llega-hoy .hoy {
        font-size: 16px;
        font-weight: 400;
        color: #3333FF;
        display: flex;
    }
    .llega-hoy p {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        display: flex;
    }

    .formas-de-pago h5 {
        font-size: 16px;
        margin-top: 30px;
    }

    .formas-de-pago {
        width: 250px;
    }

    .formas-de-pago h5 {
        text-align: center;
    }

    .formas-de-pago ul {
        border: solid 1px blue;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        margin-left: -20px;
    }

    .formas-de-pago ul li {
        margin: 0;
        list-style: none;
        margin-right: 10px;
    }

    .formas-pago-iconos img {
        margin-top: 20px;
    }

    .producto-detail-btn {
        width: 400px;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* background todo el producto */
    .todo {
        border: #00c7ff 1px solid;
        border-radius: 15px;
        margin: auto;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}


/*----------------------------------------------F  I N    M A  I N -----------------------------------------------------*/


br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 0;
    /* change this to whatever height you want it */
}

/* |||||||| MEDIA QUERIES |||||||| */

/* @media only screen and (max-width: 480px) {} Smartphones */

/* @media only screen and (max-width: 768px) and (min-width: 481px) {} Tablet */

/* @media only screen and (max-width: 1279px) and (min-width: 769px) {} Desktop */



/*--- PRODUCTOS RECOMENDADOS-KIARA --*/

.carruselTabCel {
    display: none;
}

.seccion-recomendado {
    width: 100vw;
    margin: 0 7% !important;
    margin-bottom: 5% !important;
}

.carousel-recomendado,
.titulo-recomendado {
    margin-left: 8.5%;
}

.carousel-recomendado,
.carousel-inner-recomendado,
.carousel-item-recomendado,
.row-recomendado,
.contenedor-recomendado {
    height: auto !important;
    border-radius: inherit;
    
}
.carousel-inner-recomendado { padding: 20px 0;}
p {
    margin: inherit
}

.carousel-inner-recomendado {
    width: 100%;
    display: block;
}

.contenedor-recomendado {
    border-radius: inherit;
}

.producto {
    border: 1px solid #00c7ff;
    border-radius: 10px;
    height: 290px;

}

.producto:hover {
    transform: scale(1.05);
    transition: 1.2s;

    .imgProducto {
        transform: scale(1.05);
        transition: 1.5s;
    }
}

.seccionImgProducto {

    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedorImgProducto {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 10px;
        border-radius: 10px;

        .imgProducto {
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
            margin: inherit;
            border-radius: inherit;
        }
    }
}

.informacionProducto {
    padding: 0 10px;
    height: 45%;
}

.descripcionProducto {
    font-size: 85%;
    height: 50%;
}

.precioProducto {
    font-size: 130%;
    height: 25%;
    color: #3333FF;
}

.carousel-control-next-recomendado {
    right: -3% !important;
    width: 3% !important;
    padding: inherit;
}

.carousel-control-prev-recomendado {
    left: -3% !important;
    width: 3% !important;
}

/*--MEDIA QUERIES PRODUCTOS RECOMENDADOS--*/

@media only screen and (max-width: 1280px) {

    .titulo-recomendado {
        margin-bottom: 3% !important;
    }

    .seccion-recomendado {
        margin-left: 3% !important;
    }



    .contenedor-recomendado {
        padding: 5px;
    }

    .descripcionProducto {

        font-size: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 30%;
    }

    .precioProducto {
        font-size: 110%;
        height: 35%;
        
    }

    .span-recom {
        width: 20px !important;
    }

    .informacionProducto {
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 767px) {

    .carruselComp {
        display: none;
    }

    .carruselTabCel {
        display: block;
    }

    .seccion-recomendado {
        margin-left: 1.5% !important;
    }

    .seccion-recomendado {
        margin-bottom: inherit;
    }

    .precioProducto {
        font-size: 100%;
    }

    .carousel-item-recomendado {
        max-width: 638px !important;
    }
    
    
    
}

@media only screen and (max-width: 480px) {

    .titulo-recomendado {
        text-align: center;
        font-size: 120%;
        margin-bottom: 8% !important;
    }

    .titulo-recomendado,
    .carousel-recomendado {
        margin: 0 10px;
    }

    .seccion-recomendado {
        margin: inherit !important;
    }

    .carousel-recomendado {
        margin-bottom: 10%;
    }

    .descripcionProducto {
        padding-top: 5px;
    }

    .precioProducto {
        font-size: 80%;
        padding-bottom: 5px;
    }

    .span-recom {
        width: 15px !important;
    }
}


/*--------- FOOTER --------*/

/* Aquí empieza el FOOTER */

.footer-max-width {
    background-color: hsla(193, 100%, 50%, 0.30);
    display: flex;
    justify-content: center;
    /*padding-left: 30px;*/
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.footer-between-mobile-and-max {
    display: none;
}

.footer-logo {
    margin-top: 65px;
    width: 280px;
    height: auto;
}

.footer-seguinos-en {
    font-weight: 400;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 0px;
}

.footer-redes-sociales {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
}

.footer-logo-redes {
    width: 25px;
    margin-bottom: 5px;
}

.footer-logo-redes:hover {
    animation: jump-shaking 0.83s 1;
}

.footer-list-1,
.footer-list-2,
.footer-list-3,
.footer-list-4 {
    padding-top: 65px;
    list-style-type: none;
    width: 280px;
}

.footer-rotulos {
    font-weight: 600;
    font-size: 18px;
    color: #3333ff;
}

.footer-items {
    font-weight: 400;
    font-size: 15px;
    color: #0a0a0a;
}

footer input::placeholder {
    color: white !important;
}

.footer input::placeholder {
    /*Esto sobreescribe los colores de ambos placeholders en búsqueda de footer y header*/
    color: white !important;
    opacity: 1;
}

.footer-items a {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: #0a0a0a;
}

footer input:not(:placeholder-shown) {
    /*Esto sobreescribe los colores de ambos placeholders en búsqueda de footer y header*/
    color: white;
    opacity: 1;
}

.footer-barra {
    position: relative;
    text-align: end;
}

.footer-submit {
    padding: 0;
    border: 0;
    background: transparent;
}

.footer-submit img {
    position: relative;
    right: 17px;
    width: 25px;
    padding-top: 6px;
}

.form-control-footer {
    font-weight: 400;
    font-size: 15px;
    color: #0a0a0a;
    background-color: #3333ff;
    border-right: 0;
    width: 240px;
    position: absolute;
}

.footer-he-leido {
    font-weight: 200;
    font-size: 15px;
    color: #0a0a0a;
    font-style: italic;
    margin-top: 15px;
}

br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 0;
    /* change this to whatever height you want it */
}

/* |||||||| MEDIA QUERIES |||||||| */

@media only screen and (max-width: 1500px) {
    .footer-max-width {
        display: none;
    }

    .footer-between-mobile-and-max {
        display: block;
    }

    /* Style the buttons that are used to open and close the accordion panel */
    .footer-accordion-between-mobile-and-max {
        background-color: hsla(193, 100%, 50%, 0.30);
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding: 15px;
        cursor: pointer;
        width: 100%;
        font-size: 15px;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.6s;
        color: #3333FF;
        font-weight: bold;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .footer-accordion-between-mobile-and-max:hover.active,
    .footer-accordion-between-mobile-and-max.active {
        background-color: #3333FF;
    }

    /* Style the accordion panel. Note: hidden by default */
    .footer-panel-between-mobile-and-max {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }

    .footer-accordion-between-mobile-and-max:after {
        content: "+";
        font-size: 15px;
        margin-left: 5px;
    }

    .footer-accordion-between-mobile-and-max.active:after {
        content: "-";
        font-size: 15px;
        margin-left: 5px;
        color: white;
    }

    .footer-accordion-between-mobile-and-max.active {
        color: white;
        transition: 0.0s;
    }

    .footer-list-1-between-mobile-and-max {
        list-style-type: none;
        width: 100%;
    }

    .footer-items-between-mobile-and-max a {
        font-weight: 400;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        color: #0a0a0a;
    }

    .footer-max-width-div-between-mobile-and-max {
        display: flex;
        flex-direction: column;
        background-color: hsla(193, 100%, 50%, 0.30);
    }

    .footer-logo-between-mobile-and-max {
        width: 275px;
        height: 60px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .footer-redes-sociales-between-mobile-and-max {
        gap: 18px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-top: 20px;
        margin-bottom: 40px;
        justify-content: center;
    }

    .footer-logo-redes-between-mobile-and-max {
        width: 30px;
        margin-bottom: 5px;
    }

    .footer-logo-redes-between-mobile-and-max:hover {
        animation: jump-shaking 0.83s 1;
    }


    .footer-barra-between-mobile-and-max {
        position: relative;

    }

    .footer-submit-between-mobile-and-max {
        padding: 0;
        border: 0;
        background: transparent;
        margin-left: 225px;
    }

    .footer-submit-between-mobile-and-max img {
        position: relative;
        right: 17px;
        width: 25px;
        padding-top: 6px;
    }

    .form-control-footer-between-mobile-and-max {
        font-weight: 400;
        font-size: 15px;
        color: #0a0a0a;
        background-color: #3333ff;
        border-right: 0;
        width: 240px;
        position: absolute;
    }

    .footer-he-leido-between-mobile-and-max {
        font-weight: 200;
        font-size: 15px;
        color: #0a0a0a;
        font-style: italic;
        margin-top: 15px;
    }
}