* {
    font-family: "hoss-round", sans-serif;
}

a {
    text-decoration: none;
}

/* Aquí comienza el HEADER */

header {
    background-color: #3333ff;
}

header form {
    position: relative;
}

header i.search {
    position: absolute;
    right: 0;
    align-self: center;
    padding: 10px;
}

.margin-nav {
    margin: 0 85px;
}

.logo {
    width: 200px;
}

.barra-busqueda {
    margin-right: 180px;
}

nav .form {
    margin-left: auto;
    margin-right: auto;
}

.nav-1 {
    height: 75px;
}

.nav-2 {
    height: 45px;
}

.navbar ul .nav-item:not(:first-child) {
    /*esto significa: seleccioná todos los li menos el primero. Pero que esten dentro de un ul, y ese ul dentro de un tag con clase .navbar*/
    margin-left: 15px;
}

/*.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
}*/

header .nav-link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    text-decoration: none;
}

header .nav-link:hover {
    color: white;
    text-decoration: none;
}

.items-container {
    display: block;
}

.items-container span {
    border-right: 1px solid white;
    margin-right: 15px;
    padding-right: 15px;
    font-size: 14px;
}

.items-container span:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-nav>div>.dropdown-menu {
    /*esto significa: selecciona un elemento con clase .dropdown-menu, pero su parent directo que sea un li, y el parent directo del li que sea un tag con clase .navbar-nav*/
    background-color: #3333ff;
}

.dropdown-item {
    color: #ffffff;
    font-size: 14px;
}

.navbar-nav .dropdown-menu a:hover {
    color: blue !important;
}

header form {
    position: relative;
}

.search-bar {
    margin-right: 200px;
}

.search {
    background-color: #ABEDFF;
    height: 100%;
    width: 30px;
    border-style: none;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.icon-header {
    margin-right: 10px;
}

.fa-user:hover,
.fa-heart:hover,
.fa-cart-shopping:hover {
    color: #ABEDFF !important;
}

.stroke ul li a {
    position: relative;
}

.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ABEDFF;
    height: 4px;
}

.stroke ul li a:hover:after {
    width: 100%;
}

.stroke ul li a,
.stroke ul li a:after,
.stroke ul li a:before {
    transition: all .5s;
}

.stroke ul li a:hover {
    color: #ABEDFF;
}

/* Aquí termina el HEADER */

/* Aquí empieza el HEADER con máximo de 992px */

@media only screen and (max-width: 992px) {

    .navbar-collapse {
        background: #3333ff;
        border-radius: 12px;
    }

    .nav-1 {
        height: 45px;
    }

    .margin-nav {
        margin: 0 10px;
    }

    .logo {
        width: 150px;
        transition: .5s ease;
    }

    .items-container span {
        display: none;
    }

    .items-container i {
        margin-right: 10px;
        font-size: 0.8rem;
        color: blue !important;
        background: white;
        padding: 8px;
        border-radius: 20px;
    }

    header form input,
    header form button {
        display: none !important;
    }
}

/* Aquí termina el HEADER con máximo de 992px */

/* Aca empieza el CARROUSEL */

.carousel-slides {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-position: center;
}

.slide1 {
    background-image: url(/img/carousel/slider1.jpg);
}

.slide2 {
    background-image: url(/img/carousel/slider2.jpg);
}

.slide3 {
    background-image: url(/img/carousel/slider3.jpg);
}

.slide4 {
    background-image: url(/img/carousel/slider4.jpg);
}

.slide5 {
    background-image: url(/img/carousel/slider5.jpg);
}

.slide6 {
    background-image: url(/img/carousel/slider6.jpg);
}

.carousel-item {
    position: relative;
}

.overlay-text {
    color: white;
    position: absolute;
    top: 25%;
    left: 10%;
}

.overlay-text h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 3.5rem;
    padding-bottom: 20px;
    line-height: 3.5rem;
    width: 50%;
}

.overlay-text h2 .highlight-text {
    font-weight: 900;
    color: #ABEDFF;
}

.btn-fucsia {
    background-color: #E93882;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    padding: 8px 20px;
    border-radius: 10px;
}

.fucsia-text {
    color: #E93882;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
}

.carousel-indicators button {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    background-color: white !important;
}

.carousel-indicators button.active {
    background-color: #E93882 !important;
}

/* Aca termina el CARROUSEL */

/* Aca empiezan las CATEGORIAS */

.categorias-home {
    color: #0a0a0a;
    margin-bottom: 140px;
}

.categorias-home h2 {
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 30px;
    margin-top: 65px;
}

.categorias-home p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1rem;
    padding-top: 20px;
    transition: all .2s ease-in-out;
}

.categorias-home p:hover {
    color: #3333FF;
}

.categoria-producto-home img {
    width: 100px;
    transition: all .5s ease-in-out;
}

.categoria-producto-home img:hover {
    transform: scale(1.1);
}

/* Aca terminan las CATEGORIAS */

/* Aca empiezan los PRODUCTOS DESTACADOS*/

.secc-mob {
    display: none;
}

.tituloDestacados {
    margin-bottom: 65px;
    font-weight: 400;
    font-size: 2rem;
}

.carousel-innerDestacados {
    padding: 10px;
}

.productoDestacado {
    padding: 20px;
    border: solid 2px #00c7ff;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

.productoDestacado:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 3px 3px #00c8ff67;

    .imgProducto {
        transform: scale(1.1);
        transition: 1.5s;
    }
}

.carouselDestacados {
    margin: 0px 30px;
}

.contenedorProductoDestacado {
    height: 650px;
}

.seccionImgDestacado {
    position: relative;
    z-index: 0;
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedorImgProducto {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .imgProducto {
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }

    .etiquetasDestacados {
        position: absolute;
        z-index: 1;
        width: 100%;

        .iconoDestacado {
            right: 0px;
            top: -150px;
            font-size: 30px;
            position: inherit;

            .siFav {
                display: none;
            }
        }

        .nuevosUsados {
            position: inherit;
            width: 25%;
            left: -22px;
            top: -150px;
        }
    }

    .iconoDestacado:active {
        .siFav {
            display: flex;
        }

        .noFav {
            display: none;
        }
    }
}

.informacionProducto {
    text-align: start;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descripcionProductoDestacado {
    font-size: 14px;
}

.nombreProductoDestacado,
.precioProductoDestacado {
    font-size: 22px;
    font-weight: 500;
    margin: inherit;
    transition: all .2s ease-in-out;

}

.nombreProductoDestacado:hover,
.precioProductoDestacado:hover{
    color: #3333FF;
}

.carousel-control-prev-destacados,
.carousel-control-next-destacados {
    color: #0a0a0a !important;
    background: none;
    opacity: inherit !important;
    font-size: 30px;
    width: 0 !important;
}

.carousel-control-prev-destacados {
    left: -10px;
}

.carousel-control-next-destacados {
    right: -10px;
}

/* Aca terminan los PRODUCTOS DESTACADOS */

/* Aca empiezan los BANNERS*/

.banners_container {
    margin: auto;
    max-width: 1296px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 140px;
}

.banner1,
.banner2 {
    width: 600px;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: white;
    border-radius: 74px;
    transition: 450ms;
}

.banner1 {
    background-image: linear-gradient(180deg, #3333FF, #6666FF, #ABEDFF);
}

.banner2 {
    background-image: linear-gradient(180deg, #3333FF, #6666FF, #ABEDFF);
}

.banner1:hover {
    background-image: linear-gradient(0deg, #3333FF, #6666FF, #ABEDFF);
    scale: 103%
}

.banner2:hover {
    background-image: linear-gradient(0deg, #3333FF, #6666FF, #ABEDFF);
    scale: 103%
}

.b1,
.b2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.tit {
    font-size: 94px;
    font-weight: 900;
    color: #ABEDFF;
    margin: 0px;
}

.linea1 {
    font-size: 28px;
    font-weight: 300;
    margin: 0px;
    margin-bottom: -25px;
}

.linea3 {
    font-size: 23px;
    font-weight: 300;
    margin: 0px;
    margin-top: -25px
}

.ray,
.ray2 {
    position: absolute;
    width: 100px;
    z-index: 1000000;
    margin: 0px;
    padding: 0px;
    transform: translate(-270px, 45px);
}

.ray2 {
    display: none;
}

.banner1:hover .ray2,
.banner2:hover .ray2 {
    display: block;
}

.plus {
    position: absolute;
    display: flex;
    z-index: 1200000;
    scale: 185%;
    margin: 0px;
    padding: 0px;
    transform: translate(135px, 40px);
}

.fa-circle-plus {
    color: white;
}

/* Comentario: creo que estas clases no generan ningun cambio */

.banner1:hover .plus {
    color: #ABEDFF;
}

.banner2:hover .plus {
    color: #ABEDFF;
}

/* Aca terminan los BANNERS */

/* Aca comienza CÓMO FUNCIONA */

.comofunciona {
    margin: auto;
    max-width: 1296px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 65px;
    margin-bottom: 140px;
}

.comofunciona h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 65px;
    text-align: center;
}

.paracomprar,
.paravender {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.paracomprar {
    margin-bottom: 50px;
}

.pc,
.pv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
}

.icono_funciona_para {
    width: 220px;
    margin-top: 30px;
    transition: 250ms;
}

.icono_funciona_para:hover {
    translate: 25px
}

.icono_funciona {
    width: 140px;
}

.icono_funciona:hover {
    animation: jump-shaking 0.83s 1;
}

@keyframes jump-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateY(-13px)
    }

    35% {
        transform: translateY(-13px) rotate(10deg)
    }

    55% {
        transform: translateY(-13px) rotate(-10deg)
    }

    65% {
        transform: translateY(-13px) rotate(10deg)
    }

    75% {
        transform: translateY(-13px) rotate(-10deg)
    }

    100% {
        transform: translateY(0) rotate(0)
    }
}

.numero {
    font-size: 33px;
    font-weight: 700;
    color: #3333FF;
    text-align: center;
    margin-top: 20px;
}

.descripcf {
    font-size: 16px;
    font-weight: 200;
    color: #0a0a0a;
    width: 174px;
    line-height: 1.3rem;
    text-align: center;
}

/* Aca termina COMO FUNCIONA */

/* Aquí empieza el FOOTER */

.footer-max-width {
    background-color: hsla(193, 100%, 50%, 0.30);
    display: flex;
    justify-content: center;
    /*padding-left: 30px;*/
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.footer-between-mobile-and-max {
    display: none;
}

.footer-logo {
    margin-top: 65px;
    width: 280px;
    height: auto;
}

.footer-seguinos-en {
    font-weight: 400;
    font-size: 18px;
    margin-left: 5px;
}

.footer-redes-sociales {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
}

.footer-logo-redes {
    width: 25px;
    margin-bottom: 5px;
}

.footer-logo-redes:hover {
    animation: jump-shaking 0.83s 1;
}

.footer-list-1,
.footer-list-2,
.footer-list-3,
.footer-list-4 {
    padding-top: 65px;
    list-style-type: none;
    width: 280px;
}

.footer-rotulos {
    font-weight: 600;
    font-size: 18px;
    color: #3333ff;
}

.footer-items {
    font-weight: 400;
    font-size: 15px;
    color: #0a0a0a;
}

footer input::placeholder {
    color: white !important;
}

.footer input::placeholder {
    /*Esto sobreescribe los colores de ambos placeholders en búsqueda de footer y header*/
    color: white !important;
    opacity: 1;
}

.footer-items a {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: #0a0a0a;
}

footer input:not(:placeholder-shown) {
    /*Esto sobreescribe los colores de ambos placeholders en búsqueda de footer y header*/
    color: white;
    opacity: 1;
}

.footer-barra {
    position: relative;
    text-align: end;
}

.footer-submit {
    padding: 0;
    border: 0;
    background: transparent;
}

.footer-submit img {
    position: relative;
    right: 17px;
    width: 25px;
    padding-top: 6px;
}

.form-control-footer {
    font-weight: 400;
    font-size: 15px;
    color: #0a0a0a;
    background-color: #3333ff;
    border-right: 0;
    width: 240px;
    position: absolute;
}

.footer-he-leido {
    font-weight: 200;
    font-size: 15px;
    color: #0a0a0a;
    font-style: italic;
    margin-top: 15px;
}

br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 0;
    /* change this to whatever height you want it */
}

/* |||||||| MEDIA QUERIES |||||||| */

@media only screen and (max-width: 1500px) {
    .footer-max-width {
        display: none;
    }

    .footer-between-mobile-and-max {
        display: block;
    }

    /* Style the buttons that are used to open and close the accordion panel */
    .footer-accordion-between-mobile-and-max {
        background-color: hsla(193, 100%, 50%, 0.30);
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding: 15px;
        cursor: pointer;
        width: 100%;
        font-size: 15px;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.6s;
        color: #3333FF;
        font-weight: bold;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .footer-accordion-between-mobile-and-max:hover.active,
    .footer-accordion-between-mobile-and-max.active {
        background-color: #3333FF;
    }

    /* Style the accordion panel. Note: hidden by default */
    .footer-panel-between-mobile-and-max {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }

    .footer-accordion-between-mobile-and-max:after {
        content: "+";
        font-size: 15px;
        margin-left: 5px;
    }

    .footer-accordion-between-mobile-and-max.active:after {
        content: "-";
        font-size: 15px;
        margin-left: 5px;
        color: white;
    }

    .footer-accordion-between-mobile-and-max.active {
        color: white;
        transition: 0.0s;
    }

    .footer-list-1-between-mobile-and-max {
        list-style-type: none;
        width: 100%;
    }

    .footer-items-between-mobile-and-max a {
        font-weight: 400;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        color: #0a0a0a;
    }

    .footer-max-width-div-between-mobile-and-max {
        display: flex;
        flex-direction: column;
        background-color: hsla(193, 100%, 50%, 0.30);
    }

    .footer-logo-between-mobile-and-max {
        width: 275px;
        height: 60px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .footer-redes-sociales-between-mobile-and-max {
        gap: 18px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-top: 20px;
        margin-bottom: 40px;
        justify-content: center;
    }

    .footer-logo-redes-between-mobile-and-max {
        width: 30px;
        margin-bottom: 5px;
    }

    .footer-logo-redes-between-mobile-and-max:hover {
        animation: jump-shaking 0.83s 1;
    }


    .footer-barra-between-mobile-and-max {
        position: relative;

    }

    .footer-submit-between-mobile-and-max {
        padding: 0;
        border: 0;
        background: transparent;
        margin-left: 225px;
    }

    .footer-submit-between-mobile-and-max img {
        position: relative;
        right: 17px;
        width: 25px;
        padding-top: 6px;
    }

    .form-control-footer-between-mobile-and-max {
        font-weight: 400;
        font-size: 15px;
        color: #0a0a0a;
        background-color: #3333ff;
        border-right: 0;
        width: 240px;
        position: absolute;
    }

    .footer-he-leido-between-mobile-and-max {
        font-weight: 200;
        font-size: 15px;
        color: #0a0a0a;
        font-style: italic;
        margin-top: 15px;
    }
}

/* Smartphones */

@media only screen and (max-width: 480px) {

    /* Empieza mobile Agus */
    .overlay-text h2 {
        font-size: 1.9rem;
        line-height: 1.9rem;
        width: 70%;
    }

    .btn-fucsia {
        font-size: 0.8rem;
    }

    .fucsia-text {
        font-size: 1rem;
    }

    .categorias-home {
        padding: 0px 30px 0px 30px;
        margin-bottom: 50px;
    }

    .categorias-home h2 {
        font-size: 2rem;
    }

    .categorias-home p {
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    .categoria-producto-home img {
        width: 70px;
    }

    /* Termina mobile Agus */

    /* PRODUCTOS DESTACADOS */

    .secc-desk {
        display: none;
    }

    .secc-mob {
        display: block;
    }

    .carouselDestacados {
        margin: 0px 25%;
        margin-bottom: 10%;
    }

    .contenedorProductoDestacado {
        height: 350px;
        padding: 5px;
    }

    .productoDestacado {
        padding: 5px;
    }

    .tituloDestacados {
        margin-bottom: 13px;
        padding: 0px 30px 10px 30px;
    }

    .iconoDestacado {
        font-size: 80% !important;
        top: -70px !important;
    }

    .nuevosUsados {
        top: -70px !important;
        left: -7px !important;
    }

    .descripcionProductoDestacado {
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .imgProducto {
        padding: 5px;
    }

    .informacionProducto {
        margin-bottom: inherit;
        padding: 20px 0;
    }

    .nombreProductoDestacado,
    .precioProductoDestacado {
        font-size: 95%;
    }

    .carousel-control-prev-destacados,
    .carousel-control-next-destacados {
        font-size: 20px;
    }

    /* Acá termina PRODUCTOS DESTACADOS*/

    /* Empieza mobile Juan */

    /* Acá comienza BANNER */

    .banners_container {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .banner1,
    .banner2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 360px;
        height: 160px;
        font-size: 12px;
        border-radius: 45px;
        transition: 450ms;

    }

    .banner1 {
        margin-bottom: 40px;
    }

    .tit {
        font-size: 65px;
        margin: 0px;
    }

    .linea1 {
        font-size: 21px;
        margin-bottom: -25px;
    }

    .linea3 {
        font-size: 16px;
        margin-top: -25px
    }

    .ray,
    .ray2 {
        width: 50px;
        transform: translate(-175px, 35px);
    }

    .plus {
        transform: translate(85px, 27px);
    }

    /* Acá termina BANNER */

    /* Acá empieza CÓMO FUNCIONA */

    .comofunciona {
        justify-content: center
    }

    .icono_funciona_para {
        scale: 75%;
    }

    .paracomprar,
    .paravender {
        justify-content: center;
    }

    /* Acá termina CÓMO FUNCIONA */
    /* Acá termina mobile Juan */
}


/* Tablet */

@media only screen and (max-width: 768px) and (min-width: 481px) {

    /* Acá empieza Tablet Juan */
    /* Acá comienza BANNER */

    .banners_container {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .banner1,
    .banner2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 600px;
        height: 160px;
        font-size: 12px;
        border-radius: 45px;
        transition: 450ms;
        margin-left: 40px;
        margin-right: 40px;
    }

    .banner1 {
        margin-bottom: 40px;
    }

    .tit {
        font-size: 65px;
        margin: 0px;
    }

    .linea1 {
        font-size: 21px;
        margin-bottom: -25px;
    }

    .linea3 {
        font-size: 16px;
        margin-top: -25px
    }

    .ray,
    .ray2 {
        width: 50px;
        transform: translate(-175px, 35px);
    }

    .plus {
        transform: translate(85px, 25px);
    }

    /* Acá termina BANNER */

    /* Empieza Tablet AGUS */

    .overlay-text {
        position: absolute;
        top: 20%;
    }

    .overlay-text h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 70%;
    }

    .btn-fucsia {
        font-size: 0.8rem;
    }

    .fucsia-text {
        font-size: 1rem;
    }

    /* Termina  Tablet AGUS */
    /* Acá empieza CÓMO FUNCIONA */

    .comofunciona {
        padding: 60px
    }

    .icono_funciona_para {
        scale: 85%;
    }

    /* Acá termina CÓMO FUNCIONA */

    /* Acá termina Tablet Juan */

    /* Acá empieza PRODUCTOS DESTACADOS */

    .carouselDestacados {
        margin-bottom: 10%;
    }

    .contenedorProductoDestacado {
        padding: 5px;
    }

    .productoDestacado {
        padding: 10px;
    }

    .tituloDestacados {
        margin-bottom: 45px;
    }

    .contenedorProductoDestacado {
        height: 320px;
    }

    .iconoDestacado {
        font-size: 20px !important;
        top: -67px !important;
    }

    .nuevosUsados {
        left: -12px !important;
        top: -67px !important;
    }

    .descripcionProductoDestacado {
        font-size: 11px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .informacionProducto {
        margin-bottom: inherit;
    }

    .descripcionProductoDestacado {
        font-size: 11px;
    }

    .nombreProductoDestacado,
    .precioProductoDestacado {
        font-size: 17px;
    }

    .carousel-control-prev-destacados,
    .carousel-control-next-destacados {
        font-size: 20px;
    }

    /* Acá termina PRODUCTOS DESTACADOS */
}

/* desktop */

@media only screen and (max-width: 1279px) and (min-width: 769px) {

    /* Acá Empieza desktop Juan */

    /* Acá comienza BANNER */

    .banners_container {
        margin: auto;
        max-width: 1296px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 140px;
        margin-bottom: 140px;
    }

    .banner1,
    .banner2 {
        width: 600px;
        height: 255px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        color: white;
        border-radius: 74px;
        background-image: linear-gradient(180deg, #3333FF, #6666FF, #ABEDFF);
        transition: 450ms;
        border: 5px solid white;
    }

    .banner1 {
        margin-bottom: 40px;
    }

    /* Acá termina BANNER */

    /* Acá empieza CÓMO FUNCIONA */

    .comofunciona {
        padding: 60px;
    }

    .paracomprar,
    .paravender {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    /* Acá termina CÓMO FUNCIONA */
    /* Termina desktop Juan */

    /* Acá empieza PRODUCTOS DESTACADOS */

    .contenedorProductoDestacado {
        padding: 5px;
    }

    .productoDestacado {
        padding: 10px;
    }

    .contenedorProductoDestacado {
        height: 500px;
    }

    .descripcionProductoDestacado {
        font-size: 80%;
    }

    .nombreProductoDestacado,
    .precioProductoDestacado {
        font-size: 20px;
    }

    .informacionProducto {
        padding: 10px 0;
    }

    .iconoDestacado {

        font-size: 20px !important;
        top: -110px !important;
    }

    .nuevosUsados {

        left: -12px !important;
        top: -110px !important;
    }

    /* Acá termina PRODUCTOS DESTACADOS */
}