<!DOCTYPE html>
<html lang="en">

<head>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./nmb/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/gaj1ybf.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/registerStyles.css">

    <link rel="shortcut icon" href="img/icon_ts.svg" />
    <title>Tienda Sound</title>
  </head>
</head>

<body>

  <header>

    <nav class="navbar navbar-expand-lg navbar-dark margin-nav nav-1">
      <div class="container-fluid ">
        <img class="logo" src="img/logo_ts.svg" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
          <form class="d-flex col-lg-6 input-group-sm" role="search">
            <input class="form-control" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
            <button class="search fa-solid fa-magnifying-glass" type="submit" style="color: blue;"></button>
          </form>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg margin-nav nav-3 navbar-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categorías
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Guitarras & bajos</a></li>
                <li><a class="dropdown-item" href="#">Batería & precusión</a></li>
                <li><a class="dropdown-item" href="#">Teclados & sintetizadores</a></li>
                <li><a class="dropdown-item" href="#">Estudios de grabación & DJs</a></li>
                <li><a class="dropdown-item" href="#">Vientos</a></li>
                <li><a class="dropdown-item" href="#">Cuerdas</a></li>
                <li><a class="dropdown-item" href="#">Micrófonos y accesorios</a></li>
              </ul>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="#">Usados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nuevos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Vender</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Promociones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">¿Cómo funciona?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ayuda</a>
            </li>
          </ul>
        </div>
        <div class="items-container d-flex align-items-center">
          <div>
            <a href="" class="link-light">
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
              <span>Mi perfil</span>
            </a>
          </div>
          <div class>
            <a href="" class="link-light">
              <i class="fa-solid fa-heart" style="color: #ffffff;"></i>
              <span>Favoritos</span>
            </a>
          </div>
          <div>
            <a href="">
              <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>

  </header>


  <main>

    <div class="flecha-volver">
      <img src="../img/flecha.svg" alt="">
      <p>Volver</p>
    </div>

    <section class="form-container container col-5 mx-auto">

      <h1>Registrate!</h1>
    
      <form action="/" class="login-form">

        <input type="text" placeholder="Nombre" name="nombre">
        <input type="text" placeholder="Apellido" name="apellido">
        <input type="date" name="Fecha de Nacimiento" min="1913-06-08" max="2011-01-01">
        <input type="number" placeholder="DNI" name="dni">
        <input type="text" placeholder="Direccion" name="direccion">
        <input type="text" placeholder="País" name="país">
        <input type="text" placeholder="Provincia" name="provincia">
        <input type="text" placeholder="Localidad" name="localidad">
        <input type="number" placeholder="CP" name="cp">
        <input type="tel" placeholder="Celular" name="celular">
        <input type="email" placeholder="Correo electrónico" name="email">
        <input type="password" placeholder="Contraseña" name="password">
        <input type="password" placeholder="Confirmar contraseña" name="password">
        <label for="terminosYCondiciones">He leído y acepto los términos y condiciones de uso</label>
        <input type="checkbox" name="terminosYCondiciones" value="aceptadas">

        <button type="submit" class="form-btn inicio-btn">Registrarse</button>

        <hr class="btn-division">

        <button type="button" class="form-btn google-btn">
          <img src="../img/google_icon.png">Crea tu cuenta con Google</span>
        </button>

        <button type="button" class="form-btn facebook-btn">
          <img src="../img/facebook_icon.png">Crea tu cuenta con Facebook</span>
        </button>

      </form>

    </section>

  </main>


  <footer class="footer">

    <div class="footer-div">
      <img src="img/footer/logo_footer.svg" alt="" class="footer-logo">
      <p class="footer-seguinos-en">Seguinos en
        <a href="http://www.facebook.com" target="_blank"><img src="img/footer/facebook.svg" alt=""
            class="footer-logo-facebook"></a>
        <a href="http://www.twitter.com" target="_blank"><img src="img/footer/twitter.svg" alt=""
            class="footer-logo-twitter"></a>
        <a href="http://www.instagram.com" target="_blank"><img src="img/footer/instagram.svg" alt=""
            class="footer-logo-instagram"></a>
        <a href="http://www.youtube.com" target="_blank"><img src="img/footer/youtube.svg" alt=""
            class="footer-logo-youtube"></a>
      </p>
    </div>
    <ul class="footer-list-1">
      <li class="footer-rotulos">CATEGORÍAS</li>

      <li class="footer-items"><a href="#">Guitarras & bajos</a></li>
      <li class="footer-items"><a href="#">Batería & percusión</a></li>
      <li class="footer-items"><a href="#">Teclados & sintetizadores</a></li>
      <li class="footer-items"><a href="#">Estudios de grabación & DJs</a></li>
      <li class="footer-items"><a href="#">Vientos</a></li>
      <li class="footer-items"><a href="#">Cuerdas</a></li>
      <li class="footer-items"><a href="#">Micrófonos & accesorios</a></li>
    </ul>
    <ul class="footer-list-2">
      <li class="footer-rotulos">CÓMO FUNCIONA</li>

      <li class="footer-items"><a href="#">Para comprar</a></li>
      <li class="footer-items"><a href="#">Para vender</a></li>
    </ul>
    <ul class="footer-list-3">
      <li class="footer-rotulos">AYUDA</li>

      <li class="footer-items"><a href="#">Preguntas frecuentes</a></li>
      <li class="footer-items"><a href="#">Envíos</a></li>
      <li class="footer-items"><a href="#">Contacto</a></li>
    </ul>
    <ul class="footer-list-4">
      <li class="footer-rotulos">SUSCRIBITE</li>

      <li class="footer-items">Recibí las últimas novedades</li>
      <input class="form-control form-control-footer" type="text" placeholder="Tu correo electrónico">
      <button class="footer-submit" type="submit"><img src="img/footer/boton_suscribirsemail.svg" alt=""></button>
      <div class="footer-he-leido">
        <input class="form-check-input" type="checkbox" value=""> He leído y aceptado los términos y condiciones
      </div>
    </ul>

  </footer>


  <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

</body>

</html>