* {
    font-family: "hoss-round", sans-serif;
}

a {
    text-decoration: none;
}

* {
    font-family: "hoss-round", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #3333ff;
}

header form {
    position: relative;
}

header i.search {
    position: absolute;
    right: 0;
    align-self: center;
    padding: 10px;
}

.margin-nav {
    margin: 0 85px;
}

.logo {
    width: 200px;
}

nav .form {
    margin-left: auto;
    margin-right: auto;
}

.nav-1 {
    height: 75px;
}

.nav-2 {
    height: 45px;
}

.navbar ul .nav-item:not(:first-child) {
    /*esto significa: seleccioná todos los li menos el primero. Pero que esten dentro de un ul, y ese ul dentro de un tag con clase .navbar*/
    margin-left: 15px;
}

header .nav-link {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}


.items-container {
    display: block;
}

.items-container span {
    border-right: 1px solid white;
    margin-right: 15px;
    padding-right: 15px;
    font-size: 14px;
}

.items-container span:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-nav>div>.dropdown-menu {
    /*esto significa: selecciona un elemento con clase .dropdown-menu, pero su parent directo que sea un li, y el parent directo del li que sea un tag con clase .navbar-nav*/
    background-color: #3333ff;
}

.dropdown-item {
    color: #ffffff;
    font-size: 14px;
}

.navbar-nav .dropdown-menu a:hover {
    color: blue !important;
}

header form {
    position: relative;
}

.search {
    background-color: #ABEDFF;
    height: 100%;
    width: 30px;
    border-style: none;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    right: 0;
}

/* Aquí termina el HEADER */
@media only screen and (max-width: 992px) {

    /* Aquí empieza el header */
    .navbar-collapse {
        background: #3333ff;
        border-radius: 12px;
    }

    .nav-1 {
        height: 45px;
    }

    .margin-nav {
        margin: 0 10px;
    }

    .logo {
        width: 150px;
        transition: .5s ease;
    }

    .items-container span {
        display: none;
    }

    .items-container i {
        margin-right: 10px;
        font-size: 0.8rem;
        color: blue !important;
        background: white;
        padding: 8px;
        border-radius: 20px;
    }

    header form input,
    header form button {
        display: none !important;
    }

    /* Aquí termina el header */
}
/* Aquí termina el HEADER */

/* -----------------------------------E M P I E Z A      M A I N -----------------------------------------------------*/

main {
    
    font-family: hoss-round, sans-serif;
}

.division-general {

    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}

.main-carousel2 {
    display: none;
}
.descripcion-producto2 {
    display: none;
}
.seccion-izquierda{

    
    width: 60vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}


.carousel-inner {

    
    border-radius: 25px;
    width: 500px;
    height: 600px;
    display: flex;
}
.carousel-inner img {

    
    border-radius: 25px;
    width: 250px !important;
    height: 500px;
    margin-left: 25%;
}
.carousel-indicators button {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    background-color: #3333FF !important;
}



.carousel-indicators button.active {
    background-color: #00c7ff !important;
}

.carousel-control-next{
    
    width: 6vw;
    padding-left: 1vh;
}
.carousel-control-prev{
    
    width: 6vw;
    
}

.carousel-control-next-icon {
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}  

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
.carousel-final-main{
    margin-left: 5vw;
}

.descripcion-producto {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 40vw;
    font-size: 14px;
    font-weight: 300;
}

.descripcion-producto h2 {
    margin: 5vh 0;
    font-size: 24px;

}

.seccion-derecha{
    
    width: 30vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sec-der-titular{
    
    flex-wrap: nowrap;
    display: flex;
}

.seccion-derecha .titular .sec-der-titular h3{
    
    color:#3333FF;
    font-weight:bold;
    width: 10vw;
    display: inline-block;
    font-size: 20px;
    
    
}

.sec-der-titular img{
    width: 25px;
    margin-left: 10vw;
    position: relative;
    bottom: 1vh;
}
.seccion-derecha .titular h2{
    font-weight: 600;
    font-size: 30px;
    width: 24vw;
    
}

.seccion-derecha .titular p{
    font-weight: 400;
    font-size: 16px;
    width: 24vw;
}

.ranking {
    width: 1.8vw;
    display: flex;
}

.ranking img{
    margin-right: 0.5vw;
}
.compra{
    margin-top: 4vh;
}
/*---------------boton compra*/

.input-general{
    background-color: #ABEDFF;
    border-radius: 10px;
    width: 148px;
    height: 80px;
    margin-bottom: 6vh;
    
    
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid #3333FF;
    display: inline-flex;
    border-radius: 10px;
    margin-bottom: 6vh;
    
    
  }
  


  .number-input button {
    outline:none;    
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    border-radius: 6px;
    background-color: #3333FF;
    color: aliceblue; 
    }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%);
    
  }

  
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
    
  }

  
  .number-input input[type=number] {
    font-family: hoss-round;
    max-width: 5rem;
    padding: .5rem;
    border: solid white;
    border-width: 0 2px;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
    
  }

 .input-general p {
    font-weight: 600;
    text-align: center;
    color: #3333FF;
    position: relative;
    bottom: 4.5vh;
 }


.div-but-cant{
    display: flex;
    flex-direction: column;
    width: 11vw;
    margin-bottom: 8vh;
}
.button-comprarAhora {
    background-color: #3333FF;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    border: solid 1px white;
    padding: 2% 4%;
    margin-bottom: 4vh;
    margin-top: 2vh;
    width: 148px;
}

.button-cantidad input{
    width: 6vw;
}
.button-cantidad{
    width: 20vh;
}
.button-agregarCarrito{
    background-color: #ABEDFF;
    border: solid 1px white;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #3333FF;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 20vh;
}
.compra h2{
    font-weight: 500;
    font-size: 45px;
}
.compra h3{
    font-size: 20px;
}

.llega-hoy h5, .llega-hoy h6{

    position: relative;
    left: 4vw;
    bottom: 5vh;
    
}
.llega-hoy img {
    width: 2vw;
}

.llega-hoy h5{
    font-size: 14px;
    font-weight: 400;
    color: #3333FF;
}
.llega-hoy h6{
    font-size: 12px;
    font-weight: 400;
}


.formas-de-pago h5{
    
    font-size: 12px;
    font-weight: 400;
    margin-bottom: -3vh;
    
}

.form-pago-linea{
    width: 20vw;
    height: 7vh;
    margin-bottom: -3vh;
    
}
.formas-de-pago ul{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -.4vw;
    font-size: 12px;
    font-weight: 400;
   
}
.formas-de-pago ul li{
    
    margin-top: 1vh;
    margin-left: -2vw;
    margin-right: 5vw;
    list-style: none;
}

.formas-pago-iconos img {
    width: 3vw;
    margin-right: 1vw;
}


@media (min-width: 0px) and (max-width: 480px) {

    .seccion-izquierda {
        display: none;
    }



/*----------------------------------------------F  I N    M A  I N -----------------------------------------------------*/

.footer {
    background-color: hsla(193, 100%, 50%, 0.30);
    display: flex;
    justify-content: center;
    /*padding-left: 30px;*/
    flex-wrap: wrap;
}

.footer-logo {
    margin-top: 65px;
    width: 325px;
    height: 60px;
}

.footer-seguinos-en {
    margin-top: 27px;
    font-weight: 400;
    font-size: 23px;
    margin-left: 5px;
}

.footer-logo-facebook {
    width: 50px;
    margin-bottom: 5px;
}

.footer-logo-facebook:hover {
    animation: jump-shaking 0.83s 1;
}

.footer-logo-twitter {
    width: 50px;
    margin-bottom: 5px;
}

.footer-logo-twitter:hover {
    animation: jump-shaking 0.83s 1;
}

.footer-logo-instagram {
    width: 50px;
    margin-bottom: 5px;
}

.footer-logo-instagram:hover {
    animation: jump-shaking 0.83s 1;
}

.footer-logo-youtube {
    width: 50px;
    margin-bottom: 5px;
}

.footer-logo-youtube:hover {
    animation: jump-shaking 0.83s 1;
}

.footer-list-1 {
    padding-top: 65px;
    list-style-type: none;
    width: 280px;
}

.footer-list-2 {
    padding-top: 65px;
    list-style-type: none;
    width: 280px;
}

.footer-list-3 {
    padding-top: 65px;
    list-style-type: none;
    width: 280px;
}

.footer-list-4 {
    padding-top: 65px;
    list-style-type: none;
    width: 280px;
}

.footer-rotulos {
    font-weight: 600;
    font-size: 23px;
    color: #3333ff;
}

.footer-items {
    font-weight: 400;
    font-size: 18px;
    color: #0a0a0a;
}

.footer input::placeholder {
    /*Esto sobreescribe los colores de ambos placeholders en búsqueda de footer y header*/
    color: white !important;
    opacity: 1;
}

.footer-items a {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #0a0a0a;
}

footer input:not(:placeholder-shown) {
    /*Esto sobreescribe los colores de ambos placeholders en búsqueda de footer y header*/
    color: white;
    opacity: 1;
}

.form-control-footer {
    font-weight: 400;
    font-size: 18px;
    color: #0a0a0a;
    background-color: #3333ff;
    border-right: 0;
    width: 280px;
    position: absolute;
}

.footer-submit {
    margin-top: 2.5px;
    width: 16%;
    height: 16%;
    position: relative;
    margin-left: 242px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-color: #3333ff;
}

.footer-he-leido {
    font-weight: 200;
    font-size: 14px;
    color: #0a0a0a;
    font-style: italic;
    margin-top: 15px;
}

br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 0;
    /* change this to whatever height you want it */
}



/* MEDIA QUERIES */

/* smartphones */

@media only screen and (max-width: 480px) {

    /* Empieza mobile Agus */

    .overlay-text h2 {
        font-size: 1.9rem;
        line-height: 1.9rem;
        width: 70%;
    }

    .btn-fucsia {
        font-size: 0.8rem;
    }

    .fucsia-text {
        font-size: 1rem;
    }

    /* Termina mobile Agus */

    /* Empieza mobile Juan */
    /* Acá comienza BANNER */

    .banners_container {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .banner1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 360px;
        height: 160px;
        font-size: 12px;
        border-radius: 45px;
        transition: 450ms;
        margin-bottom: 40px;
    }
        
    .banner2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 360px;
        height: 160px;
        font-size: 12px;
        border-radius: 45px;
        transition: 450ms;
    }

    .tit {
        font-size: 65px;
        margin: 0px;
    }
    
    .linea1 {
        font-size: 21px;
        margin-bottom: -25px;
    }
    
    .linea3 {
        font-size: 16px;
        margin-top: -25px
    }

    .ray {
        width: 50px;
        transform: translate(-175px, 35px);
    }
    
    .ray2 {
        width: 50px;
        transform: translate(-175px, 35px);
    }
    
    .plus {
        transform: translate(85px, 30px);
    }

    /* Acá termina BANNER */
    /* Acá empieza COMO FUNCIONA */

    .comofunciona {
        padding: 60px;
        justify-content: center
    }
    .icono_funciona_para {
        scale: 75%;
    }
    .paracomprar, .paravender {
        justify-content: center;
    }
    
    /* Acá termina COMO FUNCIONA */
    /* Termina mobile Juan */
}


/* tablet */

@media only screen and (max-width: 768px) and (min-width: 481px) {


    /* Empieza tablet Juan */
    /* Acá comienza BANNER */

    .banners_container {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .banner1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 600px;
        height: 160px;
        font-size: 12px;
        border-radius: 45px;
        transition: 450ms;
        margin-bottom: 40px;
    }
        
    .banner2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 600px;
        height: 160px;
        font-size: 12px;
        border-radius: 45px;
        transition: 450ms;
    }

    .tit {
        font-size: 65px;
        margin: 0px;
    }
    
    .linea1 {
        font-size: 21px;
        margin-bottom: -25px;
    }
    
    .linea3 {
        font-size: 16px;
        margin-top: -25px
    }

    .ray {
        width: 50px;
        transform: translate(-175px, 35px);
    }
    
    .ray2 {
        width: 50px;
        transform: translate(-175px, 35px);
    }
    
    .plus {
        transform: translate(85px, 30px);
    }

    /* Acá termina BANNER */  

    /* Acá empieza COMO FUNCIONA */

    .comofunciona {
        padding: 60px
    }
    .icono_funciona_para {
        scale: 85%;
    }

    /* Acá termina COMO FUNCIONA */
    /* Termina tablet Juan */
}

/* desktop */

@media only screen and (max-width: 1279px) and (min-width: 769px) {

    /* Empieza desktop Juan */
    /* Acá comienza BANNER */

    .banners_container {
        margin: auto;
        max-width: 1296px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 140px;
        margin-bottom: 140px;
    }
    
    .banner1 {
        width: 600px;
        height: 255px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        color: white;
        border-radius: 74px;
        background-image: linear-gradient(180deg, #3333FF, #6666FF, #ABEDFF);
        transition: 450ms;
        margin-bottom: 40px;
        border: 5px solid white;
    }
    
    .banner2 {
        width: 600px;
        height: 255px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        color: white;
        border-radius: 74px;
        background-image: linear-gradient(180deg, #3333FF, #6666FF, #ABEDFF);
        transition: 450ms;
        border: 5px solid white;
    }
    
    /* Acá termina BANNER */
    /* Acá empieza COMO FUNCIONA */

    .comofunciona {
        padding: 60px;
    }
    .paracomprar,
    .paravender {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
    /* Acá termina COMO FUNCIONA */ 
    /* Termina desktop Juan */

}   
}

/* desktop large */
