/* Aquí empieza el HEADER */

header {
    background-color: #3333ff;
}

header form {
    position: relative;
}

header i.search {
    position: absolute;
    right: 0;
    align-self: center;
    padding: 10px;
}

.margin-nav {
    margin: 0 85px;
}

.logo {
    width: 200px;
}

nav .form {
    margin-left: auto;
    margin-right: auto;
}

.nav-1 {
    height: 75px;
}

.nav-2 {
    height: 45px;
}

.navbar ul li:not(:first-child) {
    margin-left: 15px;
}

a {
    color: #ffffff !important;
    font-size: 14px !important;
    text-decoration: none !important;
}

.items-container {
    display: block;
}

.items-container span {
    border-right: 1px solid white;
    margin-right: 15px;
    padding-right: 15px;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #3333ff;
}

/* Aquí termina el HEADER */

/* Aquí comienza el MAIN */

main {
    
    font-family: hoss-round, sans-serif;
}

.division-general {

    display: flex;
    
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}

.seccion-izquierda{

    
    width: 60vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}


.carousel-inner {

    
    border-radius: 25px;
    width: 700px;
    height: 800px;
    display: flex;
}
.carousel-inner img {

    
    border-radius: 25px;
    width: 400px !important;
    height: 700px;
    margin-left: 21%;
}
.carousel-indicators button {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    background-color: #3333FF !important;
}



.carousel-indicators button.active {
    background-color: #00c7ff !important;
}

.carousel-control-next{
    
    width: 6vw;
    padding-left: 1vh;
}
.carousel-control-prev{
    
    width: 6vw;
    
}

.carousel-control-next-icon {
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}  

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(15,2,161)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
.carousel-final-main{
    margin-left: 5vw;
}

.descripcion-producto {
    margin-top: 5vh;
    margin-bottom: 5vh;
    
    width: 40vw;
}

.descripcion-producto h2 {
    margin: 5vh 0;

}

.seccion-derecha{
    
    width: 30vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sec-der-titular{
    
    flex-wrap: nowrap;
    display: flex;
}

.seccion-derecha .titular .sec-der-titular h3{
    
    color:#3333FF;
    font-weight:bold;
    width: 10vw;
    display: inline-block;
    
    
}

.sec-der-titular img{
    width: 30px;
    margin-left: 13vw;
    

    
}
.seccion-derecha .titular h2{
    font-weight: 500;
    font-size: 40px;
}

.seccion-derecha .titular p{
    font-weight: 400;
    font-size: 20px;
}

.ranking {
    width: 2vw;
    display: flex;
}

.ranking img{
    margin-right: 0.5vw;
}
.compra{
    margin-top: 5vh;
}.div-but-cant{
    display: flex;
    flex-direction: column;
    width: 11vw;
    margin-bottom: 8vh;
}
.button-comprarAhora {
    background-color: #3333FF;
    color: white;
    border-radius: 10px;
    border: solid 1px white;
    padding: 2% 4%;
    margin-bottom: 4vh;
    
}

.button-cantidad input{
    width: 8vw;
}
.button-agregarCarrito{
    background-color: #ABEDFF;
    border: solid 1px white;
    border-radius: 0 0 10px 10px;
    font-weight: 600;
    color: #3333FF;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.compra h2{
    font-weight: 500;
    font-size: 55px;
}

.llega-hoy h5, .llega-hoy h6{

    position: relative;
    left: 4vw;
    bottom: 5vh;
    
}
.llega-hoy img {
    width: 3vw;
}

.llega-hoy h5{
    font-size: 16px;
    font-weight: 400;
    color: #3333FF;
}
.llega-hoy h6{
    font-size: 12px;
    font-weight: 400;
}


.formas-de-pago h5{
    
    font-size: 12px;
    font-weight: 400;
    
}

.form-pago-linea{
    width: 20vw;
    height: 7vh;
    
}
.formas-de-pago ul{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -.4vw;
    font-size: 12px;
    font-weight: 400;
   
}
.formas-de-pago ul li{
    
    margin-top: 1vh;
    margin-left: -2vw;
    margin-right: 5vw;
    list-style: none;
}

.formas-pago-iconos img {
    width: 3vw;
    margin-right: 1vw;
}











@media only screen and (max-width: 992px) {

    /* Aquí empieza el header */
    .navbar-collapse {
        background: #3333ff;
        border-radius: 12px;
    }

    .nav-1 {
        height: 45px;
    }

    .margin-nav {
        margin: 0 10px;
    }

    .logo {
        width: 150px;
        transition: .5s ease;
    }

    .items-container span {
        display: none !important;
    }

    .items-container i {
        margin-right: 10px;
        font-size: 0.8rem;
        color: #3333ff !important;
        background: #fff;
        padding: 8px;
        border-radius: 20px;
    }

    header form input,
    header form i {
        display: none !important;
    }

    /* Aquí termina el header */
}