/* Aquí empieza el HEADER */

header {
    background-color: #3333ff;
}

header form {
    position: relative;
}

header i.search {
    position: absolute;
    right: 0;
    align-self: center;
    padding: 10px;
}

.margin-nav {
    margin: 0 85px;
}

.logo {
    width: 200px;
}

nav .form {
    margin-left: auto;
    margin-right: auto;
}

.nav-1 {
    height: 75px;
}

.nav-2 {
    height: 45px;
}

.navbar ul li:not(:first-child) {
    margin-left: 15px;
}

a {
    color: #ffffff !important;
    font-size: 14px !important;
    text-decoration: none !important;
}

.items-container {
    display: block;
}

.items-container span {
    border-right: 1px solid white;
    margin-right: 15px;
    padding-right: 15px;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #3333ff;
}

/* Aquí termina el HEADER */


@media only screen and (max-width: 992px) {

    /* Aquí empieza el header */
    .navbar-collapse {
        background: #3333ff;
        border-radius: 12px;
    }

    .nav-1 {
        height: 45px;
    }

    .margin-nav {
        margin: 0 10px;
    }

    .logo {
        width: 150px;
        transition: .5s ease;
    }

    .items-container span {
        display: none !important;
    }

    .items-container i {
        margin-right: 10px;
        font-size: 0.8rem;
        color: #3333ff !important;
        background: #fff;
        padding: 8px;
        border-radius: 20px;
    }

    header form input,
    header form i {
        display: none !important;
    }

    /* Aquí termina el header */
}



/* Aca empieza el CARROUSEL*/

.carousel-item {
    position: relative;
}

.overlay-text {
    color: white;
    position: absolute;
    top: 25%;
    left: 10%;
}

.overlay-text h2 {
    font-family: "hoss-round", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.5rem;
    padding-bottom: 20px;
    line-height: 3.5rem;
}

.overlay-text h2 .highlight-text {
    font-weight: 900;
    color: #ABEDFF;
}


.btn-fucsia {
    background-color: #E93882;
    color: white;
    font-family: "hoss-round", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    padding: 8px 20px;
    border-radius: 10px;
}

.fucsia-text {
    color: #E93882;
    font-family: "hoss-round", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
}

.carousel-indicators button {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    background-color: white !important;
}

.carousel-indicators button.active {
    background-color: #E93882 !important;
}

/* Aca termina el CARROUSEL*/


/* Aca empiezan las CATEGORIAS*/

.categorias-home {
    font-family: "hoss-round", sans-serif;
    color: #0a0a0a;
    margin-bottom: 140px;
}

.categorias-home h2 {
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 30px;
    margin-top: 65px;
}

.categorias-home p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1rem;
    padding-top: 20px;
}

.categoria-producto-home img {
    width: 100px;
}

/* Aquí empieza el FOOTER */

.footer {
    background-color: hsla(193, 100%, 50%, 0.30);
    max-height: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.footer-div {}

.footer-logo {
    margin-top: 65px;
    width: 365px;
    height: 60px;
}

.footer-seguinos-en {
    margin-top: 27px;
    font-weight: 400;
    font-size: 23px;
    margin-left: 5px;
    font-family: "hoss-round", sans-serif;
}

.footer-logo-facebook {
    width: 50px;
    margin-bottom: 5px;
}

.footer-logo-twitter {
    width: 50px;
    margin-bottom: 5px;
}

.footer-logo-instagram {
    width: 50px;
    margin-bottom: 5px;
}

.footer-logo-youtube {
    width: 50px;
    margin-bottom: 5px;
}

.footer-list-1 {
    padding-top: 65px;
    list-style-type: none;
    font-family: "hoss-round", sans-serif;
}

.footer-list-2 {
    padding-top: 65px;
    list-style-type: none;
    font-family: "hoss-round", sans-serif;
}

.footer-list-3 {
    padding-top: 65px;
    list-style-type: none;
    font-family: "hoss-round", sans-serif;
}

.footer-list-4 {
    padding-top: 65px;
    list-style-type: none;
    font-family: "hoss-round", sans-serif;
}

.footer-rotulos {
    font-weight: 600;
    font-size: 23px;
    color: #3333ff;
    font-family: "hoss-round", sans-serif;
}

.footer-items {
    font-weight: 400;
    font-size: 18px;
    color: #0a0a0a;
    font-family: "hoss-round", sans-serif;
}

.form-control {
    font-weight: 400;
    font-size: 18px;
    color: #0a0a0a;
    font-family: "hoss-round", sans-serif;
    background-color: #3333ff;
}

.form-check-input {}

.footer-he-leido {
    font-weight: 200;
    font-size: 18px;
    color: #0a0a0a;
    font-style: italic;
    font-family: "hoss-round", sans-serif;
}

br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 0;
    /* change this to whatever height you want it */
}