
* {
    font-family: "hoss-round", sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #3333ff;
}

header form {
    position: relative;
}

header i.search {
    position: absolute;
    right: 0;
    align-self: center;
    padding: 10px;
}

.margin-nav {
    margin: 0 85px;
}

.logo {
    width: 200px;
}

nav .form {
    margin-left: auto;
    margin-right: auto;
}

.nav-1 {
    height: 75px;
}

.nav-2 {
    height: 45px;
}

.navbar ul .nav-item:not(:first-child) {
    /*esto significa: seleccioná todos los li menos el primero. Pero que esten dentro de un ul, y ese ul dentro de un tag con clase .navbar*/
    margin-left: 15px;
}

header .nav-link {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}


.items-container {
    display: block;
}

.items-container span {
    border-right: 1px solid white;
    margin-right: 15px;
    padding-right: 15px;
    font-size: 14px;
}

.items-container span:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-nav>div>.dropdown-menu {
    /*esto significa: selecciona un elemento con clase .dropdown-menu, pero su parent directo que sea un li, y el parent directo del li que sea un tag con clase .navbar-nav*/
    background-color: #3333ff;
}

.dropdown-item {
    color: #ffffff;
    font-size: 14px;
}

.navbar-nav .dropdown-menu a:hover {
    color: blue !important;
}

.search {
    background-color: white;
    border-style: none;
    border-color: #3333ff;
    border-radius: 1px;
}

/* Aquí termina el HEADER */
@media only screen and (max-width: 992px) {

    /* Aquí empieza el header */
    .navbar-collapse {
        background: #3333ff;
        border-radius: 12px;
    }

    .nav-1 {
        height: 45px;
    }

    .margin-nav {
        margin: 0 10px;
    }

    .logo {
        width: 150px;
        transition: .5s ease;
    }

    .items-container span {
        display: none;
    }

    .items-container i {
        margin-right: 10px;
        font-size: 0.8rem;
        color: blue !important;
        background: white;
        padding: 8px;
        border-radius: 20px;
    }

    header form input,
    header form button {
        display: none !important;
    }

    /* Aquí termina el header */
}