<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head.ejs', {style: 'carrito.css', title: 'Carrito' }) %>

<body>
  <%- include('./../partials/header') %>
    <main>
      <!-- ACA EMPIEZA CARRITO - JUAN-->
      <section class="carrito_page">
        <h2 class="tit_carrito">Carrito<p class="cant">(<span style="font-weight: 700; color:#3333ff" id="cantidadItems"></span>)</p>
        </h2>
        <section class="compras" id="listadoProductos">

        </section>
        <section class="envio_compra">
          <div class="envio_img"><img src="/img/carrito/cartelito_envio.svg" alt=""></div>
          <p class="precio_envio">$1.500</p>
        </section>
        <section class="total_compra">
          <p class="totalconenvio">Total con envío:</p>
          <p class="precio_total" id="precio_total"></p>
        </section>
        <section class="botones_compra">
          <button id="borrarTodo" type="submit" class="btn_borrarTodo">Borrar todo</button>
          <button id="seguircomprando" type="submit" class="btn_seguir">Seguir comprando</button>
          <button id="continuar" type="submit" class="btn_continuar">Continuar</button>
        </section>
      </section>
      <!-- ACA TERMINA CARRITO - JUAN-->
    </main>
    <%- include('./../partials/footer') %>
      <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
        <script src= "../js/imprimirCarrito.js"></script>
</body>

</html>

