<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head.ejs', {title: 'Nuevo producto'}) %>
<body>
  <%- include('./../partials/header') %>

    <main class="main-login">


      <div class="flecha-volver">
        <img src="/img/flecha.svg" alt="">
        <p>Volver</p>
      </div>

      <section class="form-container container col-lg-5 col-md-8 col-sm-12 mx-auto">

        <h2>Creá un <span class="texto-resaltado">nuevo producto!</span></h2>

        <form action="/crearProducto" method="POST" class="base-form crearProducto-form" enctype="multipart/form-data">

          <label for="">Nombre del Producto</label>
          <input type="text" placeholder="Ej: Guitarra eléctrica G&L" name="nombreProducto">

          <label for="descripcionProductoCorta">Breve descripción</label>
          <textarea placeholder="Color, tamaño, año, etc..." name="descripcionProductoCorta" id="" cols="30"
            rows="3"></textarea>

          <label for="">Precio en AR$</label>
          <input type="number" name="precioProducto" placeholder="Precio del producto">

          <div class="dos-col">
            <label for="estado">Estado</label>
            <label><input type="radio" name="estadoProducto" value="Nuevo"> Nuevo</label>
            <label><input type="radio" name="estadoProducto" value="Usado"> Usado</label>
          </div>

          <label for="descripcionProductoLarga">Descripción detallada</label>
          <textarea placeholder="Descripción detallada del producto" name="descripcionProductoLarga" id="" cols="30"
            rows="6"></textarea>


          <label for="categoriaProducto">Categoría del Producto</label>
          <select name="categoriaProducto" id="">
            <option value="guitarrasBajos">Guitatarras y bajos</option>
            <option value="bateriasPercusion">Baterias y percusión</option>
            <option value="tecladosSintetizadores">Teclados y Sintetizadores</option>
            <option value="vientos">Vientos</option>
            <option value="cuerdas">Cuerdas</option>
          </select>

          <label for="fotoDestacada">Imagen destacada</label>
          <input type="file" name="fotoDestacada">

          <div class="dos-col">
            <button type="reset" class="form-btn inicio-btn">Borrar todo</button>
            <button type="submit" class="form-btn inicio-btn">Agregar producto</button>
          </div>



        </form>


      </section>

    </main>

    <%- include('./../partials/footer') %>

      <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>