<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://use.typekit.net/gaj1ybf.css">
        <link rel="shortcut icon" href="/img/icon_ts.svg" />
        <title>Error</title>
    </head>
    <body>
        <style>
            body {
                background: #2980B9;
                background: -webkit-linear-gradient(to right, #ABEDFF, #3333FF);
                background: linear-gradient(to right, #ABEDFF, #3333FF);
            }
            img {
                scale: 60%;
                margin: auto;
                margin-top: 70px;
                margin-bottom: -100px;
            }
            h6 {
                text-align: center;
                font-family: "hoss-round", sans-serif;
                font-size: 50px;
                color: white;
                font-weight: 200;
            }
            .face {
                margin: auto;
                font-size: 70px;
                text-align: center;
                margin-bottom: -30px;
            }
            p {
                text-align: center;
                font-family: "hoss-round", sans-serif;
                font-size: 25px;
                color: white;
                font-weight: 200;
                font-style: none;
            }
            .btn-home {
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 22px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
                background-color: #E93882;
            }
        </style>
        <img src="/img/logo_ts_white.svg" alt="logo_blue">
        <h6> <span style="color: #ABEDFF; font-weight: 700;"> Error </span> - Pagina no encontrada </h6>
        <p class="face"><i class="fa-regular fa-face-frown-open fa-bounce" style="color: #ffffff;"></i></p>
        <p><a class="btn-home" href="/"> Volver a Home</a></p>
        <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
    </body>
</html>